{# ******************* #}
{# ***** 3WA SVG ***** #}
{# ******************* #}



<svg width="50px" height="60px" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>3W Academy</title>
  <desc>Formation développeur web en 3 mois avec nos cours web, accédez aux métiers du Web : Webmaster, développeur web, intégrateur, webdesigner, etc. Notre formation Internet est dispensée sur Paris, Marseille, Lyon, Nantes, Strasbourg, Lille, Grenoble, Aix.</desc>
  <g>
    <image
       y="2"
       x="0"
       xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABkCAYAAAAG2CffAAAAAXNSR0IArs4c6QAAAARnQU1BAACx
                  jwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAu
                  MTczbp9jAAAtU0lEQVR4Xu1dB5gU1Zae3X3rvrAvmiWI5JxBMkrOkrMRFcWIPMUERhQVTChiABV4
                  BlSSCig8UDGhIAaUqAjoTMfKVV0dz/7nVjVT3V09Myi4+/bzfN+hh65b4f517kn33NslwUDACkQl
                  CmoaBdVf+WhzIBgkWZb1koCi/CitfIXCs++gyGMP/spHix+ZQ9G591Lw4AHSVXVvSdCyvlZum07y
                  KX8ipVmdX/kosdywOqnNa1H4wHekqsr7JQHD3BxZNJ+UpqeT3L09yWf9ykeFOzQntX93CgdKSTeM
                  10qCpvV6dOWLJDeuBqDb+Z90NLgbrs2cc48zPX//P+Mzm5E0bigFwlEyDGN+Scg0F0c3rSOlUfWj
                  B/TZHUju1IKk1g1I7tyClKG9Sb1oNCkXjSVl3GAcb09Sm4ZgHOd7nu0HOL7r3pak9o1JalfIcueW
                  zn14FGaZz+PP9k0K26Pjh4/nnwPpy2+fZblr28Jz/PjwczPj2ds2JPnqCymgaGQlEjNLorb9aPST
                  90hpURsSh4vmnHCkDNB6dCSpeR2SOjQlc8GDlPpuH6V1jTKmSRkLbOiUjoQovnYFqecOo2ijGjgP
                  D9YjD+yubcRx661VZK1bTdZafGZ53eukz5wMoGuTMqQpKefgZfInc79GZDw5m6wNa8vbr3+TjPmz
                  SRncxGkztDn+5vOa4xrVSb/nJnHNnHswv7WGtEsHkDKokWirDGlW/jkEn+fwp/NdrrDgbxay6VdS
                  QNfJjMUuKwnHYndGd3xOCkvXzwUaYEmt6pM+bQol9+2myigTtyn28nMkd8GDsoR6VUmX1qSMHkCZ
                  hO22ziV73Ssk9/wzqeMakTqxKanjG5M6AUAOr0Opg9+7rcop9d0uccxph/bueUrfv1H8nVVuqzzK
                  ZEi7ohepY+qLa2fvcfhTsHO9nGdn0FvWJeXuGwnOBpmmOawkYFnXSd/uJrULOvpzgMbFpaa1SLv8
                  QiG9VaZMmpK7vyKpkysVWcngZ+ndgVKG5jbMpfiHGyG9J5E6FoCNQ2ddVsY2plS4zG1VTqlDsP4j
                  Adh4gONpL/c/meJbN7utcimjREkd3QBAN8w5J4dxPQXHc9UH+gDBVefdSxBksiyrU0kwFrsw+uMh
                  Unp2FFJU3vgImc/tfSaloBaOmCA59rKlJDWqmTMEpTObUuKbr9xGuRTft5PkITVyQRiLvy/uTGkA
                  lE/pSICUiS3RzgM0XpIyvB6lftjvtsqlxDfboGLgpmXbF+ORLNFePNAHqA7l2ccpFLPSqqrWLwnI
                  2tBAJELSkD4/HWi8JKlFXbLffM19xCOnTMwi7dzh4jrimjxCmtcma80Kt0UuMZjqhGaOxIkOs9qo
                  Tdp1gzCiCkdBWpNIm9LDeTGuVCujWcJbURp2w49ib6+ExGPUeEHN5/F4WcNcQ+vlthhpryyhUNzW
                  LEk6vSSoGP2Cqp6QR/WDnmxVeEJVGG6b0rs9peEzFqOMHaOMpgrpLUaxTWsA7hm4puOJSI1Pp9jT
                  c92juZROpUi99CxSRrDeBXA8hM+pTsYdk8S98olfpH7LRFKH1SoHelRdUi/vC72SdlvlkvX8wxil
                  fy0E18sM9NAWUB3lI1GMyrY49tYbFI7HyyKRSPWSsCyfFYjZpnzBKOGS5QBYRZZaN4TRuMC3g0yp
                  YBlp11xKysgBFP/gXffbQsokErDiPR397Eq0cefN7tFC0qaeg2sCaNFhAD3oFDIevgnXSbotyimT
                  iJMx+yrRRh3PxhPtR9Qmfca5/i8f3xn3TCZl4KmF4HpZAA37lu/idWxO4Y8/oqid2As/+pQS6I+O
                  ZfGkolx98U8HGuGmtehx9wnzCA9svvQ8Rav9BX5zI6FmMqbhHiwkfcY0PAf7yOzBNCDt6kthL1Pu
                  0Vwy7rvSkWjR4SYk9zmerFcXuEfzCCPAmj+TlAFQBQw0zlGGn0HGQ9N8gU7DoKtX9MYogR3wApvP
                  ExpCOKAJvBINHa10aUpheHNhO7EdiuyEElkOtS5LJsPqzOucDnoArCpH65xENvSZLyWTGM43OQ58
                  jw7ipcQ3/9M9WEj2S4udQIHbIpBQBp9FacnfwJrP3w+gMfzdTsu9j6fEhmXu0TwCmNZLj5LSB6qA
                  gYZLpgyuQfYrLCA+QIfYeMLFHA5V4wU2nydCogcX4qZ0b0WhHw9Q2Iy9pyjKX0ui0WiT0lSqVJt7
                  l+vL5p5QKSOyizapSfHPtriPmEsZ2yZ9ykV4iXjrkNJog9MotqSI1IFsBDJSMwRP7AXBZnDgk/r+
                  W/doLsXXLiH1nNOFNLPHIYDe+o57tJDYX1Z6AWh2CSci0BgA126Dv7FNHdwHAGuVq6ZizEAPzNME
                  UCNKn04UjARJtqy1mUzmjyVAuw6APqA++cjhIZtzUmUMfSq1a0SJ/fvcR8ylNKJBZfwQtz2Axkux
                  Fs53jxZSfMOqcqC7tYH+r0vJrz93j+ZS4uN/Qj+ycYOEjoU7NeA0Sny1zT1aSMmvt5Pc92R4KvUc
                  iR5UDS/mQ/doLiU+fx+q6ASAmeunF/AEAD0gH+h2pA7tQUEF3pxuvAKgf1dimpHqpXZ8X+SlJU4+
                  4EiBZk8F4TIPNT9ifawM7eW2B9CNoc+LeBJM9tqVJCGqYtXBDyw1qwMD+p57NJeS3yCiZaA50oOr
                  Jo+ohxe+1z1aSKn9u6FzzyCV9TpLNPRvYv9O92guWetfIaU/gOao0w/gLLMx7JunCTh9MP4cCsJt
                  lHR9ES53XAn+OaEskdoZfn0FyR0AdH7OoTIG0ApASSuyeMB8ypg6OtTDbV8FoN+A6mhZz5Hos6Gn
                  m55B1uvL3aO5lPh+D3xYAAeJFuH1ZdDnRXxiplQYenc89D68DeF1jG5IqdLCcJ31eeyVpyH9xzuj
                  xQ9gDyt92pTjwYLasQWpF42jAEZzVNPm4Yr/XhKG/iizE19ENm8kGSqAk0KHT6oK46LKgLMokyp0
                  qZiERAugOTNYOdDxVS9CXUA6WaIZ6OZ1yXz8XuE15FMq+AMpEzjaQ2fhQ+s3jnWP+FMa9kK9Ep4E
                  +9IcrEzASIwG3aMeYg/lybuhWuDaibyIP8BZVnrnAQ0jLl83hcosK6Oq+qwSJlz2uLAV2xraAp0k
                  PIMjBLoLJLp3Z0jAsxR7cRHZKxbjcyHZK5eI/8deXggDlL1m5UCbz0GSEFU5QMPFa9OQjNuvh/gm
                  3BbllIYO1CZ3JXVUPeHvGg9c5x7xJ/YtjLsvc8LqEQD7kh6UURXnoJfY5551CUJr6HI2tD7gHuax
                  cCu9WoCBhtcUnX4tBWKxlGYYNwigmUKGuTn85Wd4E4jZjxRovjCsrNSyDsLn2oWfraBvDyerskDP
                  cXtUSMb98H68RhmekDb5fER2PtEeRos+bZiQZpY+Y+Fs90hxMp9gST0Nur2GONfPp8/ETNKu6gcg
                  KzGEzAz02bl4cJ49et9tVBqPJxTNvMyFuaQkouurQ3t3QomjgyxJ2ZOOOgNo9jqeedTtUiFpUy7A
                  c3hyLhzej+jrq3vZdTRmXgAJPVVIaeytIj60h2IrF5HMQA8+jbS7LhbRaD5lNI3U89r7A1vAAFqo
                  Rfd5eTKiZX2SHrybAomErev6eBfmkpKwpi8KHdxPSlaKjhXj+tH6p5G1ZKHbpTzKpCFtZwPo3HSt
                  1B261CcrmEmnSX/o76T0OwFSXYuSOz5xjxQnewtcQvjeMs4xF97lfptLqWApDCVA5LyzL7jlrIyC
                  mssBGhi2AtDPPk4BO24lbWOgCzMkWlHmBMtKM3K/bj8vVVoZC6Crkf2Rf74jte9rkthO5E2piXTp
                  rm/cVrkUe2EuvAMAPaqxyKlURskDu9C2AUndfk/2qiXut7kU/2qL48X4AJvD/CLyU6QMNNxTacWL
                  FLRiRsKyurowl5RoinLTj+FwRhra1/GLvSf+XOYJ2S4IPDjKQyCiX3OxCMv9yHzgDpIa18w9Hw/O
                  7p799htuq1yKr19O0ll/JOVcSD1nByshkV4djwDj7D+SvcE/bWCtfYmUIVXIQwNoZbhPirQVgic8
                  b5lpanFdb+7CDKA17dIyRc7IEwYL6RFvJf/kn8IwgtGm1WAUa4jhbwDIdDTsdieX0pBGBUNQYl/e
                  ew0GukVdMh5/0G2ZS4lP3yOp199IndIDUWjxZFWW2K9XJ3VGuP43RIX+gZA1j5NPp/iD62UGeihc
                  OW/mjkcjgJY2b6KApiuICk93YQbQpjmyVNcz8oWjMXQbHx2g+Yb9u1Fiy7uURPSVjlvoZZFcNHSt
                  tegxkpqcUWiMhUTXJf3Wq93GuZTc8xVUx0lk3DqBMnH/NK2X0rZF6tQheLZTEPD4R5HGnReRXEWJ
                  lgfnZe7Yw2pdj4LbtlBEViVc7q8uzCUlsIxnlxpGRrnifJFbPmpAD+hGmSJzfl5KfLSZJPY0fO/r
                  +NLaJROAUmHQkgwH4UVUI/O+a/GfQg+igOAjm3dPImVkfcr4RLOZeJy0a/pDUk/3B9fLLNED84BG
                  +K2cWZ9CO7ZTRNU4GvoPF+aSkgz0SMC00uoNl4tZ7KMFtDKEQ+LK9aZ24Vi4ffAEit0XfrXSr6vv
                  fCRPNqjjmpH13AMFLyL57U4Yv7xkF6I+c+5NpJ7f1/0il5KhAMm4njocob0fuF5miR4AAfECzbP3
                  HZtScM8uikrKLhdih6BHTmOglTunC8Nz9CS6K2X0KhgoSKU2+Vwhub5+PKREatuAkvv8PQ9t0gCy
                  VrxQoJpiLzxCsdeedf/nElxI66lHSL18vPtFLiX3fkPywBrwJsrz3EV5PFy7fpDobh68OPfTqRkF
                  vt9Hhq6+50LsUObgwd/BQqa1OXeT1LR2bid/KrNEc9K+ChLNlNz5JXQbR5GevEGW2ag2Pp0S0Ht+
                  pM+cRPY7hR6E+fjNZC242/1fOcVeWULaLf7hevzjDaSwceUZdT9wvTwWEt0rV6LZu1L7dKDgDwfI
                  0vVlLsTlFDIMXVr4BMmNaznS6O3oT2G+xuCzKa3KlPGZwfAja/5ckkTlUv610AGE7vENa9yWuWTM
                  vpoSH+YewyjFC5hI5j2XuN+Uk/3OKtLvh073odgbzwuPJKcsoQKWOXPnVR2cZBvakwLwogxNfcyF
                  t5wimnYgAifbqSo9CkAzQw2ol4wn7fopGK7zKIGApCLiSQK5J+59ODdSzlKTWhRbyqndQop/tU2o
                  Hy9xeM5zftrU/pTJM5Kc9Ut+9an7Pw/B+zGfne3koauQHuWZGrl3no6G16ZNHEFBWSbLMG5z4S2n
                  kKZtj7y7nhRIjl9HfxLjOpzmZLdNalAdBq8GhvKDRWfLmfRbp4pEUs51YDPYdhizbq6aZwHKyAhM
                  xrYg9YL2CFLYy6qcMgikzIemA+gTAXQVJHoMJ+EgGF6gW8OHnno5BSSZErHYZBfecgpq5oYIFzs2
                  RWSWl2v4WcyGNWtc2ahxrmPpU27XCsl+81XH8+HEv+cawsW71r9mw49SP+4nnk1RxjRDMFS83sRL
                  nLUzbhpFKrt2VQF6NAON58sCzf3kjOXt11IAEm3byaEuvOUkm+bLkS+3kQpnmwE53MmjzFI7dGBk
                  X3gjPnlgUHz7pxgFdQqAZt2nXTxWVKNWhRK7t8MYV4O+PAPeyg7324pJhOeTuwHEqulndRRHsd60
                  Mp6zOYC+/04KqKJct5MLbzmplvVEeO9OUtrDxTqWiSW+dvfmlP7xgNu9XOIZb7kjOpCvvtiLGQjj
                  KhXW1fkRz4bzZACDHf/MP9TOp3S4jNQJUDdVkWbmUZBor2vHAoF4QHrsPgrqBilKrI4LbzlFdfOe
                  yKH9pLLOOZZAM4CQTq6b9iM2anLvdiR1bJ57HqsPfJc85DPH50P2GicxxEDbby1nN8Q9Upy43Jcj
                  xqoCrYxqUgg0JFp+bgFFDD2RUdXjXXjLSbXsaRFERWr/swQQOZ2sCvNNONjwYz6WbccGskMzBAb+
                  9dNpKUJy/64kt89LP+I6UjsELV9WnnNmshbNgoqqL2ZTYi8vAND+9XVeSnzJ6VEEKlUBmsPvYXDv
                  vIaQVQfP4C9fSmHTDIvCmXySVeOigKxQdORAAJ0nTZUx69MWdUVSn/PNXpbqnebOrgNwbssSfWYz
                  SiFE9SPW3crwXjB+6IT3BfHfbRpRfN2bbsuKSbv9QngFDXCt2mTMuUqE3pVRbNUiZ1bdD9h8Fpm7
                  PNUBVto2JOWt1RSxzL2SJP3Zhbecwpo2NKDqJF80uny9R1UYupPXqpjPzCN77apCXreatCsnueVm
                  eCiWaKimZBHVkdE1UQwp6vTygOb7WE8+7LasmNQp/QXQPHGrXgVf2mfKKp8MTo9WJZnEPAFA85KK
                  HIkG0Hhu5aN3KRqzt4bD4T+68JZTaUjqFjAQMPx9spjF9Z5cIQPoaP1TKf6+fz0d+6b6nbc412Tg
                  GGh4NUWB5nzx2IG+WUR28dTpV7otixNn4NRz2zm10Az0BZ0oY1XuFuq3nA/wKilqzDJXKA2BivUC
                  zYHemU0p+M3XFDWtfyI6/YMLbzlFIpH2ZXbcVu668ciABkfrnkLxjW+5j5tHXOQ46zbxAAI49qU7
                  tSgONNw3Xrvim66F3lYnnoNGFRu2ZHa9CtfYcVU/1EEqdMg96k9csSrSo1A1vsDmMwM9iD0oz/NB
                  iJRe7Sl06CBJscSrohQsnwxZblkWj6vKw7PE8rGcDlbC0donwsoXqfbntOTDd0EaGwA46GmupwPQ
                  qe/8Cxd53YgypDtets8zsPrpg0hP8/fBs2SvX4HorrxSn2fI45/5r1PJUjISEsU4SlWydswMdP+8
                  PAcCPaV/ZwrgWpDohXsymf9y4S0nPRptUpZIhBToWmG8vB2shKN1TyJ72WL3kfOI8wfzHySp2RmO
                  0eRgqGtLSh/4zm2QS+lAGV4IhqDQ6Xn34rnHTrVEKVhFZL24wE0MARB4EJy7sF4uUr/tUvLrbSQP
                  ONWpYMoH1Y8F0HluMPrGdYZBXaWoYfHc23+68JaTrar1AsnkQQ2ACWnKH7YVsNS4JsB8qEiWLkPW
                  sudJanS6AzSX757VmtJl/kM5sfub4vOWkBipzckU/2Sj29qfjEduAAjunB8D3fd4subd5B71p/jm
                  NfCM/gJVU4X0KPN4eBd98yayIQjqeUNFzZ2kaTNp2bLy2ZUsxWKxWoFEcq+ydrVTO3YkQLeCdb/m
                  UrF8wY/imzeS1KCauKbEenYoIjyflVNM8XfXlkt/wb1wfosTyF75nNu6kHitisq61jPnx6rDmDG+
                  aH0gk70Co6BnJetV8jinuJGZZ1cuHU9ltk0RVb0Gl/03F95yMk2zWihm7whtfsdRHaxPvRepiPFi
                  VPi+mSJZsrQUJnlQd3gnNShS52SynsYwLmLQrMcfEPmQw363l7l0oU11shYXL/0Ss+njoGu9lfps
                  4CZ3p5Ts/3I5d20ugGvXr4pZO2Y2sr3ygO7QgrSpkykQt1Oypk1yoc0lTdNODMeSW8Pbt2OI8pCo
                  ukQLUOCpJPb7GzhWHxze6rdeS+bShb51dFlSR7iLhfzuw88EHa3fO1m4jX6U2r+H5IE14dZ5jBr+
                  VkY2wjP4rydkH9uYxQuDTq4a0AhWuOZO6eV5TtYAPFpn3EBwKmxF18e40OYS7vfngG5+ENy9E52B
                  f+gnUcWYw2OoD+sFnp+r2myKH8U3vw21UdF2FuhMt3qkTxsOf9t/da6o1O+ft5KKl10MrEHJHT7J
                  fhC7lPpVA2DI4ENXFegxTUnhvFD22QTQTSgy916uuTNAg1xocwn3+31UMzYGIXnC6h+BjhbM3sTZ
                  bSmj+hekV0ZpWRJ11hKX7PpdXzCeqQd840ldi94n9s/lUAHHwyvwzJAAPK7jiH+41m2VS+logLSL
                  OsDjyC4OrYTH4xmySf/sszFeretT9NlHCU6FIuuxHi60uYT7/QYKfG2Ap9v7dsGJRyDRzLgR71Sg
                  33mziMyOiLiA5qnHSGpYo4gRLGelHyw79GM66OO1pDMUe2G+qMXLB5oXBsXeWMIK2W1cTskfviVl
                  FGftPOdUxAw0p0i9z8YaoHltiq74B1RHMqyYZnsX2kKKquqrwWgYQ6g3Tj5CiWYG2FxVZC55RoBX
                  VYoj2OEFR1W5pzKgHZ6vJuyBT1IKXoX58HUIo6Gj84EedApZzz7gm1xK7vmGVE4mVaG6X3AxoFvW
                  o+i6VRSwE1DTehMX1kKKKsrCgCxl1LFDnWLHI1UfDBRvetK4Oplzb6d0OCBCW1/Ci+B1L7xCK8qu
                  n7cmugJWBiD6GlyNkl9+5oDGzIYRn7wfiH77+Y4K8OpaBhrgm/dPoYxtiRdSfl6aEl98hBdRDUA3
                  ywW0GAug89IUDDRUR+T9jRSM2YfYXXZhLSRF0+aUqmpaumCsk5M+YqCZcY7I6NUHIN3JmHMHxd96
                  E8BspxRXDu3eIZYpmwsehQoYLBJFwsuo4r2E6hhZj4yZ5+Mat4HvQDByM5lP3kHmozciYGgNIHzA
                  4bzHxV3IfOxWBFcznHMfu4XMp+6Cjz3BiQj9zvNjAM0bo+Q8Gz8/7Et0y2YKmja7Nye4sBaSZlm3
                  BAwjJV1+getL/xSgXeZzOYHUpJYofuF13dKZjUTFkdSsljMv+BPuofRjICGhw05H9HciyfB9Wf+y
                  D6wMRDRYUWQ3mte6oC3a864FnA8RRey4lm/7YsxAD83LxXDmDkBLX31OIcPc65tQyhIU+BWllpWS
                  brhC5H6rDALfhIOJfObv+Tj/zdNjrI6Y2UNhF445/5xKWOnTygGTJZTXmBR88rEKWKxLcdt7z/Vr
                  y1wM6EEtnefPYsCjEn0L7dnFUSFvMlIYFWYpHo+PL7PspDRjqlODV0VfWmpUHVHfScee654Iz+Yk
                  krr/N0nd/vAL8H8jwvSZ2mKgB+alSFl4OjWj4Hf7uIp0kwupP2Vse0DAiiXk2beR1AJDuzKJxnGe
                  MI29tIji61dQ/O1fgNctp/imN8BvUvwd8LH6FH+vIe0m1t95/jWAlvtjhHlTpJBmzkUHyn6gqKIW
                  1tx5CaFoRwAdV56YI6rsqwI0zy9yuZe9ahnZy1889rwC91n/GsU3vEY2+Nh9LsfnCtJvGgMPwwfo
                  PlAVHqAldh76daVAKEiGps1zIfUnSHSjgGnZyovPk9yUd4LJA9aXIdVoy9tDcMBxzLllTWEAeW8O
                  XhQvGAGK91M5ws/8872fYpVtfkENvJP84kae2VeH96FANEqWoc1wIfUnKPBTgpoWi7yxUhSCHDZm
                  lTFLdpaLfc+MqE/ihD4bRI4A84/7nZtdleoaT2UA3LuJ7O9y510A2JiJTazwf/4URi57LAtOHlje
                  74UxdP/OunjZ4z4sdgXryTq6/Jk5/atdPI4CikKmppUv4vQjAP1bWEwruHG9s5Fp0SxaEYZXILWo
                  5xQ28ix29nsXRGFgOzR2dmds5Ra886pTZn6pUFessqSWnlUHvB4cvrb4vhnUWZta8M/Lk0bcaWUI
                  pJxdvME1HJdtUHWE1HDlhtfGizkVhus0Z4rKBVIZgna8qJODFHzHOyQcboPoUEGUKKqcsnuBeEB2
                  7gmJ7pmnOtBv7ZpLKKBpZJvmCBfS4hRRlEj40w9JaQHVwZbUvVClDClVR/el5PZPRXBir1ntTEex
                  RCLqY0m2XvkHpQ7tp9T+78h68Tn41fBF+R48qTmgO8U/2izOjSG6ErUl7IfjhbFeTn6+jZKffUr2
                  ++8ilL4XoDRwdik4tw0ldnyMMPpzSu7EvfkTrF4/mqxn7qLkLpy3cyvp90wRM9zygGpkr8X1vt5C
                  iU8gUMPqU/zd10U7HUEQqyQNbZPfbKX4xxsdr0OMEA/YorgxzxgCaHnGDdmauy4unMVJ0vXdoa+2
                  O0AfQWkYGwN1+lWHkzbpsh8BPgwEqwv45PZbbzjHOAfisgmwZQa7Q3PSLhp9eF12GseUgVwx1RKS
                  X5fi27eK78X5zAifYzCIvPpVmdimfD139jhYv/1aspZz1Sr+DzLXvuBIMW8d4U6jpcOlGDH1D08s
                  x9YsBdB/QeTqZPns118gv13ClJE8p+oBmUdfk5oUeeAuCkJ12JlMAxfO4qQY5gehfbtIQRQndKkH
                  zKLMN2rXOGfmJB0JA6zuzvHeHdGpkMgxmPPmkHHX7cTbZab4ZXRnqW1M+vWX5pTkapNHOVKNlxTf
                  +jGum4bkvU3xN3kJhTM7qV3Wl5SxrQ9XmNobX4cU30+xpY8h3O4GoJ8UbZlSvEyuXzXSbxjh5DhA
                  6VAZVE19Mmbh3nh5ad7eZ1BrfP+DmFgwZk5EHwrXGyojOfz2AM1/A2jp6YcAtEqqX81dPhmWsTrM
                  xY5nO8O9/GIVMG/8CskTUusSd169cIyo51CH9qOMLFFGkx3ddmYzsbY7FQ6S1LsT9G5D0h+cJTqb
                  Je2O6c7iztaNAPQWZwQ8eC9FG/5V5I+ZjEdvEZ3OqM46GePWSSR1+SNUBHQ0pN1a9Qy+dV98CC91
                  YAPc5xbxfyauHlWGwXWbAHCjEVFHrV11HqUNTUg9L3vmncQKgB4OoLt5gzkA3bgGRRY/RSFN47f+
                  WxfO4qSb5rMh3FDt29lJLHkBLcZCPdSj+FdbHcmIWc4+czOuEouP1GEu0OiAMggqoVsbUcyYCgVI
                  6oVzm9ai2MtLnc7z6leMihi7mFzI0wYS/SkkGkBbT82lSJ3fUfybz0Rb66V5oqLzMNCzrgGYMJTC
                  wJ0BoJ8W18pgNHBNn3phD4q9+Q/8H+CD0yH0E/pWGViTUnt3QAXBkG1aKZ49+SnsBPS1n/chliV3
                  9Ug0j+gG1Si6fClJunYQ1y+s58gnMxa7PyzLpA3vJ1yWHECLMU8SwHClDh0QZbf2O2+LGWfj0fuE
                  75sD9LDeYsqHNw7UZ96Ac6Hfm55O8fffwZBOkPXmS5QB2In3N5DUDm5U28aHJZqBjtYG0F86q7Ns
                  SKwyBhKtO4tGjRvHw1b8gdQR8Brg/1ornxLPEft2l0ihGjMvFIYxjmdMaaoD9DgIU6+/wEC+LO4h
                  1rvgM/YiXiJGheNK5gHNCaWuuekJpTliibdWUlTXt+NRjnPhLE6WZU/nX1uQLzlXdNJ7saLMu9AM
                  7CbWeXOpl/n4Q47BWv4SgK4O1dHHAZoLGEcNgJqpL5ZCi2kr9iygdpI7vxA62rjjGrH+JLnrS+ju
                  BvBMmjnL3g4D/VuKf+7s7GWvWexINAwQU3zjaootultsjSn3+LNQHQy0uXGduLe1dD6lS38ge9sH
                  GE1lAmhlXHN4PKeQNf823MNRXbyVsn7HeYf3XsoBmvMcXHOXV0UqdjTYspmihrkBlygsnMknwzAu
                  DhgWSTdeJXRnzsWKMJcHKGMGic4kv/6C1GlThMFJ4MYSjIQ6qFc50CP7Oz628KHBUE+8RxxvLMWz
                  48roQaJkIMU7AHeHPsdL8aoOB+iPBCD22iU5QGfJWoiR1Pk4R0dDRdhvvEjJA3sp+cP34h4xeBNJ
                  KexI9FhILAN6cWdRE8LEG4ur57b39aGdzB10tNe1Y/cU/ZB2fkVRy1q2devWyoHWTHNYwIqRNPt2
                  MWPgBbQYc4ChTrtcDLvElk1ie3meN0x9vxeg4hhvbpUPdPZcUbg4XJybgqfCD51mFaRICGmhZprU
                  ylMdAPoLF+h1/yBV6GgHaF7sk4LBjT15J4yiCzSMYeyVx6Ca1gjQeWG+9dx9eDkwfizRY5rhZSEQ
                  OqcmdL+zZ1788w98jeBhoAdyitQDNI9KfAYOHuLt1xbQpk2/ceEsTpqmdQvircvz7nWq17MXq4Cl
                  xjXJWvCI85Bvr8HQ6iUWcqZUiWQYVbVvt1yguVKUfXSoHJ4A0G92FlfGt28BQO3F3nWsU7ULRlK0
                  7qkU3/ZJHtCQcG7/xnM5Em3OvY7kofAieE+7wdUcYwigrcX3k7HYeb6MpYsajowUKpdonhAYcBLF
                  Njqrb2PrXhbnFwWa139382DQuTXA70jBsjKSTXMWLlFYCpZPXOwYhq5UnnmUFA6TPYAW42i9k8le
                  7uzmwkNT7MkBYFiC1EnjoRoAtCI7xnBwT1LObgmwtiLSA7Btm5G+yNnZkUdBOhQUPizrVu3GKyla
                  8ySKIyIUQD85h6LsdbiLMe2VMIYjG4lrMxl3XQlf2aki5fDZWu1ItPXsLDJnXSbacFt92gi8eEd1
                  CIkWMy/Q0+85qwli61+FsBTZRoKB5uJGr0SzjRreV+Q5oro1DZf4dxfO4hRTlLohy4opcFXEPnge
                  QIsx7zfKW8ELAiCixo1dKJBxx43QtV3KJRqhtnwW3DsYPPZQJEiD8DiY+BzPudbzT1PktJMpkVUd
                  ADpyBiTaXc5mLZ7rBixOZCiA7gtPgZdUDAHQK5yAJfbCQ6Rf00dcgzcU1Fgfu6qDJdoB+mSKVRFo
                  2VuhxIx4QxnTnwKIUGXDuBCXKD67kqWYLNcK2XZE2fCmKHHKuaAfQ6d69yY15txF6iUTAfwm5///
                  eAYegAu0oeIcqItWTSH1CFhg9Hi7+iQiUYbWfPZJgDASxop3bsxQfP0qilQ/heKfQCcDJOOBOyna
                  sTGl3EhQmz0VHQTQuvN/Y8alCHL+BKk+BWAcD4nmTbK4mvVRksc2Ei5d4tNNpE3CCIMuF0Aflugj
                  ALp3IdC8BpI3FJQ07RwXyorJsqwaoXj8oLzlwyoBze6XOqIXJNHxP3n6K3ryH8i47w7x0IlPP0Tn
                  m8DHdpat2evXUGz1q+g/pGv3N+gg3EKWLqgVCX9HT/srKVPOE1Kd+OoTjBbo6I8/EOdy/V4K7hkT
                  qyH1PFj7ca0OA52Gp8Kz7Knv9pJ2w0SyXn2CW8LN5ErROvBkDpK5/HmchxevSeU6mjN9XGDzbhWA
                  Hgv7kl/c2KkFnIFLqCwRjyuK0seFsmLKZIxTo6a1K/jFF1XKdYilw1dfLB4wGWFVADeHN6maern4
                  jvU1z3wbM6C6POu4xXbHV1xA2sRxwn/mdqxS2Mfm319hoPkXK8Ro+eh99yyH0rpKxuwpYuZbPbdt
                  To4kS/ptV2NkOOW99trF8G5Oo9SubWQ+MhPn9MSLUkR0qoyCRI9EgMPG8BNnFNrvwqAXM4aIFEUa
                  wYsDXDvtthu4FEyTJKmbC2XFhPDxxIhlbw/t2wvpxAW9E5B+zG9zygSKLX2K9Htvc1w3zuQN7iV2
                  SbcWzkMo20lEiNpl51F8wxtiZy910jiKctR4wRjo2icAwD1OWpVfbq/OMGDzoVvhVcBjMe+5BW0W
                  4LvH4VncTcqkLiITJ/zc8S3EOsLYiufAzzq8ElJ7yUAy7r0cx54m894pUCc1yZx3C2lX9MQ5bRG+
                  P4FrPoy/m0N91Bc5aH3ujeJcPk/12zeaJwVGIyrMr7njHQ3m3kNlyWREMc12LpQVE0T/b2HdeD8I
                  Q6X0rbgOTjDfqFNzuGkIQb2BCOturuXIei5QKSKBzxEUb6fJUSd/xy5edmtNnnXPnstteBUqXjTv
                  hcfF6eIXi9rj5Qz3JOShe0WSnhP/We4PHlnbSehzvcdQBE384zac6OdCGd5rmtvwTmDZ2ZgJ7BJW
                  F997f3AhhyfwTAyClRyg8cytG1Bk8TOQ6FRpPB5v5kJZMUGi/ySp6voA3CDxwwbeXQp/Clc2Io6I
                  zwRwrQsBONYMA6iOQfQ7ECDn62feyxVBWWTNCgrEU9/btl3PhbJigor6vaqrKwPsio0ZcJSB+vn8
                  iwDNksuFNSMxCnhfO57x5lJmzm94/WdmBrp1PYq88zZXke5BCF7DhbJi4hSfqmkvsE+ojBvkXIyH
                  s/fi/4t8zIBm/csA85zi0Gbwx6sy6QFcencmGSot8vFmriLdwSsnXCgrJkj0f6iq+kwpS/Tdt5LY
                  6phzHryAiCdQj7Ru+ijzUQWawWVm6R0BHd2fZ+ddyc3PzmU5a4M4hcBlc+3wYhCEhfbu4t/t/Szj
                  tyy5GOGtdC4rK1tWFo1Ywf3fkvTK86SMP4cULk7kFVOsThjw/wVJPypAZ6WXVQP/4gSDy9fnfhVV
                  legrG2vEFrxtkco/ogYvK/zZpxQIllJZWYBkSeJsV+UJJQ/9G0t2MBisUxoMzyrFkAgkYlr0y+0k
                  c7K+l2NphZfBs9j8IL8Q6D8ZaCG9ABfuGeeTFY7uGNRiksuc7ZM7d8mjW7poNEVXLyP2yspsOx2Q
                  lIgSiXxmW/YMYFa8JroqxC5fQNF7BeLx2QFV3x/gH3L55zqSb5tOKhuJ5pD0djwFf+yl/IiAZmBZ
                  cnm6ajDA7YvhnnXN8o2al7kfUA3sTiot4CJOHkfKkicptHOHqEQKG0YiasY2R2V5Gv+EHgAu3C7i
                  5xAPi0gk8icAP75MVj7EG5XDwdKU/NpSksfDcHJalYtfOOhgwI8B6FUCmgFGBMdzewJcdlErAjb7
                  rLy5IW+hwQWePQH27TdQ+IutFDB13qLYDEblQ6puPAFfuSWcht8Bj8qzdD+XcJPjIoFAh4Bl3xqM
                  xzfhTcfCn35EymNz4K0MhCQAdB5ubDRYQvw6+BO4KNAMLj55hlpszJrNsFVBNfDkg8LBEUancuM1
                  FH1rJQUOHaCQZVEoFvs6LMuParI8An0uXsV/rInfagZSHlaUNoFIZHGprptlipyObttC8vSrHAnh
                  mgfWc8JrqaDjVWAHaICa1blCejmY4ElWSGRFkssspJdVA9ryCGx8Omlj+lB0xQsUDv5IP+pGujQS
                  jUUV5XUjZvTlGg30sfKpqV+aeKkzJGBaWTyxLmDbwcD332eklxaRMmkcOtcSnavnlLhyp49U0mG8
                  OOkufu1nFNeLQHqzetcvmPAy34sNNxtwngsd3B1ew0yKfvIhlalypiyR+CGgm2/KsjwVauEMtzv/
                  9wkey3+HVbVBRNenlkWje0pVNRP6bi9Flj4Dt6qfU63K61i6cdTFUlaJJGa5dxv4rVUJJsB8TR5F
                  7JI1qiF2wVVv/TtFMNrKpDCVKWpKUpT3I6p6IexOHbi0hTvG/CsRht5vJUkahI69WppMfldm6Enp
                  vY0k3TINksZrE+s5xTJZ0P1AyzJLbVVcMjbI4rqQ3ovGkLR0AQWhd+E5yaWW9VlUkh7MGEZrPFvl
                  83v/aoRO/SYIyQnK2oiQpq8qk+RE4NBBimxeDyN0lZA41pmHdymrqpRzO2Z+UfzLcRgp6uiBJD2/
                  gCK7v6ZAJMzFhzvglk2H19TB1buVTzf9qxN3kkHn4RoORx8uM8w9vNQ09MMPGfm5+SSPGeyolazX
                  kgUzB2AXXP6bDa7Yexq+74zrKfzhexS0DKs0kTwQkOQXJU3rtmfPnv/CPY+9O/Z/mTgRE1LVgUEr
                  9mDIML4tC4Uy4W2fkDyX66AHkNK6vqNe2Jh5wBVrFXmPpuuvoOjaFRT4/ttMQEdAZdvzg5o2Auqq
                  pnuLX8lLkLj/BOgnGDBOQUna9qNt6wFVTnMKUr7uclLObAJwz3AM6Zi+pC58hEIH9yehc5VSVdsY
                  ikbHHkQUu2PHjspr334lhwD6cSFJ6grPZVYwZn8c0PREeNcOkuG1hDetp0AoECqNJ1YHTHNqICA1
                  R/v/f0btlyTWq9Dlf0Pk2RFB0bIyTd8dVNW/BxSlNruQOP4vYNRKSv4HHXYXj48lCD8AAAAASUVO
                  RK5CYII="
       style="image-rendering:optimizeQuality"
       height="60"
       width="50" />
  </g>
</svg>
