{# ******************** #}
{# ***** CSS  SVG ***** #}
{# ******************** #}



<svg width="30px" height="30px" viewBox="0 0 60 60" xml:lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>CSS3</title>
  <desc>Cascading Style Sheets version 3</desc>
  <g>
    <circle fill="#1572B6" cx="30" cy="30" r="30"/>
    <path fill="#fff" d="M46.5 14.347h-33l.158 1.767.3 3.34.132 1.481h25.21l-.602 6.746h-8.718v.001h-7.834l.158 1.767.3 3.34.132 1.481h7.244v-.001h8.133l-.768 8.544-7.348 1.983v.001l-.006.002-7.337-1.982-.469-5.254h-6.614l.923 10.344 13.495 3.746.031-.008v-.001l13.483-3.737.099-1.113 1.121-12.525.003-.041.022-.238 1.594-17.876z"/>
  </g>
</svg>
