{# ******************** #}
{# ***** HTML SVG ***** #}
{# ******************** #}



<svg width="30px" height="30px" viewBox="0 0 60 60" xml:lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>HTML5</title>
  <desc>HyperText Markup Language version 5</desc>
  <g>
    <circle fill="#E44F26" cx="30" cy="30" r="30"/>
    <path fill="#fff" d="M30.02 14.347h-16.52l.158 1.767 1.619 18.155h22.832l-.764 8.544-7.348 1.983v.001l-.006.002-7.337-1.982-.469-5.254h-6.614l.923 10.344 13.495 3.746.031-.008v-.001l13.483-3.737.099-1.113 1.548-17.344.161-1.769h-24.009l-.602-6.746h25.21l.132-1.481.3-3.34.158-1.767z"/>
  </g>
</svg>
