{# ****************** #}
{# ***** JS SVG ***** #}
{# ****************** #}



<svg width="30px" height="30px" viewBox="0 0 60 60" xml:lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>JavaScript</title>
  <desc>The object programming language</desc>
  <path fill="#F0DB4F" d="M51.209 51.21c5.827-5.878 8.791-12.931 8.791-21.21s-2.964-15.332-8.791-21.21c-5.877-5.826-12.93-8.79-21.209-8.79s-15.332 2.964-21.21 8.79c-5.826 5.878-8.79 12.931-8.79 21.21s2.964 15.332 8.79 21.21c5.878 5.877 12.931 8.79 21.21 8.79s15.332-2.913 21.209-8.79z"/>
  <path fill="#fff" d="M49.775 34.728c-.467-2.912-2.366-5.357-7.99-7.639-1.954-.898-4.132-1.541-4.781-3.021-.231-.862-.261-1.347-.115-1.869.419-1.693 2.439-2.221 4.041-1.735 1.031.346 2.008 1.141 2.597 2.409 2.755-1.784 2.748-1.772 4.672-2.997-.704-1.092-1.08-1.596-1.541-2.063-1.656-1.85-3.913-2.803-7.523-2.73l-1.881.243c-1.802.455-3.519 1.402-4.526 2.67-3.021 3.428-2.16 9.428 1.517 11.898 3.622 2.718 8.943 3.337 9.623 5.879.661 3.112-2.287 4.12-5.218 3.762-2.16-.449-3.361-1.547-4.66-3.543-2.39 1.383-2.39 1.383-4.848 2.797.582 1.274 1.195 1.85 2.172 2.955 4.623 4.69 16.193 4.459 18.268-2.639.083-.245.642-1.871.193-4.377zm-23.905-19.269h-5.97l-.024 15.435c0 3.282.17 6.292-.364 7.214-.874 1.814-3.137 1.59-4.168 1.238-1.05-.516-1.584-1.25-2.202-2.287-.17-.297-.297-.528-.34-.546l-4.854 2.973c.807 1.656 1.996 3.094 3.519 4.029 2.275 1.365 5.333 1.784 8.53 1.05 2.081-.607 3.877-1.863 4.817-3.774 1.359-2.506 1.068-5.539 1.056-8.895.03-5.474 0-10.946 0-16.437z"/>
</svg>
