{# ******************** #}
{# ***** JIM VIEW ***** #}
{# ******************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Jim : Javascript Interactive Microlibrary{% endblock %}

{% block description %}Documentation de Jim, Javascript Interactive Microlibrary - jim-js{% endblock %}


{% block main %}

<main id="jim" class="container center">

  <p class="intro warning-sea solid-rounded">
    <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i>
    En construction !
    <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i><br>
    La documentation sera disponible ci-dessous avant lundi, merci de votre patience...
  </p>

  <article class="container">

    <h2 class="info-sea solid-slight p-md">Documentation de Jim</h2>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">I - Datas</h3>

    </section>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">II - Jim</h3>

    </section>

  </article>

</main>

{% endblock %}
