{# ******************** #}
{# ***** JIM VIEW ***** #}
{# ******************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Jim : Javascript Interactive Microlibrary{% endblock %}

{% block description %}Documentation de Jim, Javascript Interactive Microlibrary - jim-js{% endblock %}


{% block main %}

<main id="jim" class="container center">

  <article>

    <h2 class="info-sea solid-slight p-md">Documentation de Jim</h2>

    <p>Jim n'est qu'une esquisse, un point de départ d'un projet plus complexe.</p>

    <p>L'idée est d'associer Ajax pour que les possibilités soient infinies.</p>

    <p>N'ayant que peu de temps à consacrer à ce type d'évolution dans le mois à venir, n'hésitez pas à envoyer une pull-request si cela vous tente, sinon patience...</p>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">I - Datas</h3>

      <p>Ce fichier permet de paramétrer les actions que Jim lancera lors de l'appui sur l'une des touches du clavier.</p>

      <p>Il s'agit de simples fonctions qui sont appelés & qu'il s'agit de personnaliser pour chaque projet.</p>

      <p>Les touches disponibles sont les 26 lettres & les 10 chiffres, ce qui permet donc d'obtenir 36 actions paramétrables.</p>

      <p>Ce fichier est à placer dans le dossier "js" (ou "javascript") de votre dossier "public"(ou "www" ou "htdocs" selon votre architecture d'application web), puis de l'appeler depuis votre "layout" ou "index" en tant que premier script, Jim venant juste après.</p>

    </section>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">II - Jim</h3>

      <p>Il s'agit du fichier principal, il contient la totalité du code non-paramétrable & se découpe en 3 parties : les helpers, les events & le main.</p>

      <section>
        <h4>1 / Les Helpers</h4>

        <p>Les helpers sont des fonctions génériques utilisables dans de nombreux cas ; d'autres helpers viendront très prochainement se rajouter dans cette partie.</p>
      </section>

      <section>
        <h4>2 / Les Events</h4>

        <p>Les events sont des fonctions appelées lors d'évènements utilisateurs ; la fonction principale étant "onKeyDown()" permettant la liaison entre les touches du clavier & les actions paramétrables.</p>
      </section>

      <section>
        <h4>3 / Le Main</h4>

        <p>Le main est la partie principale contenant les ajouts différés, au chargement effectif de la page, d'écouteurs d'évènements.</p>
      </section>

    </section>
  </article>
</main>

{% endblock %}
