{# ******************** #}
{# ***** JIM VIEW ***** #}
{# ******************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Jim : Javascript Interactive Microlibrary{% endblock %}

{% block description %}Documentation de Jim, Javascript Interactive Microlibrary - jim-js{% endblock %}


{% block main %}

<main id="jim" class="center">

  <article class="container" itemscope itemtype="http://schema.org/SoftwareApplication">

    <h2 class="info solid p-md">Documentation</h2>

    <figure class="ml-auto mr-auto">
      {{ include('svg/jim.svg.twig') }}
      <figcaption itemprop="name">JIM</figcaption>
    </figure>

    <ul class="btn-group m-md">

      <!-- Facebook buttons -->
      <li>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fphilippebeck.net%2Findex.php%3Faccess%3Dpjs!jim&layout=button_count&size=small&mobile_iframe=true&appId=1316979581722641&width=82&height=20" width="82" height="20" style="border:none;overflow:hidden"></iframe>
      </li>

      <!-- Tweet button -->
      <li>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js"></script>
      </li>

      <!-- linkedIn button -->
      <li>
        <script src="//platform.linkedin.com/in.js"></script>
        <script type="IN/Share" data-url="https://philippebeck.net/index.php?access=pjs!jim" data-counter="right"></script>
      </li>

    </ul>

    <p>Jim n'est qu'une esquisse, un point de départ d'un projet plus complexe.</p>

    <p>L'idée serait d'associer Ajax pour que les possibilités soient infinies.</p>

    <p>Jim est une micro-librairie JavaScript qui utilise les événements pour l'interactivité.</p>

    <p>Jim propose un système de gestion du clavier permettant d'associer une touche avec une action paramétrable.</p>

    <p>Il donc est possible d'accéder à une page précise, que ce soit sur site ou sur le web, ou encore de lancer des animations ou des actions.</p>

    <p>Par exemple, donner la possibilité à l'utilisateur de se déconnecter en appuyant sur la touche "Q"...</p>

    <p>Jim est fourni sans aucune ligne de code jQuery, ni aucune dépendance...</p>

    <ul class="btn-group">
      <li>
        <a class="btn github-outline solid-rounder inset-spread" href="https://github.com/philippebeck/jim-js" title="Voir le repository GitHub" itemprop="url">
          <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a class="btn npm-outline solid-rounder inset-spread" href="https://www.npmjs.com/package/jim-js" title="Voir le package npm" itemprop="installUrl">
          <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a class="btn primary-outline solid-rounder inset-spread" href="https://github.com/philippebeck/jim-js/archive/master.zip" title="Télécharger Jim" itemprop="downloadUrl">
          <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">I - Installation</h3>

      <ol>
        <li>Ouvrez un terminal, placez-vous <i>dans le dossier de votre projet</i>, puis tapez :
          <pre class="valid-text">npm i jim-js</pre>
        </li>
        <li>Copiez <i>dans le dossier <strong>js (ou javascript)</strong> de votre projet</i> le fichier :
          <pre class="classic-text">votreProjet/node_modules/jim-js/datas.js</pre>
        </li>
        <li>Appelez-le depuis votre <em class="classic-text">layout (ou index)</em> en tant que premier script, <strong class="special-text">Jim</strong> venant juste après.
        </li>
      </ol>
    </section>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">II - Datas</h3>

      <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Ce fichier permet de paramétrer les actions que <strong class="special-text">Jim</strong> lancera lors de l'appui sur l'une des touches du clavier.</p>

      <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Il s'agit de simples fonctions qui sont appelées & qu'il s'agit de personnaliser pour chaque projet.</p>

      <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les touches disponibles sont les 26 lettres & les 10 chiffres, ce qui permet donc d'obtenir 36 actions paramétrables.</p>

    </section>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">III - Jim</h3>

      <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Il s'agit du fichier principal, il contient la totalité du code non-paramétrable & se découpe en 3 parties : <strong class="valid-text">helpers, events & main</strong>.</p>

      <section>
        <h4>1 / Les Helpers</h4>

        <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les <strong class="valid-text">helpers</strong> sont des fonctions génériques utilisables dans de nombreux cas ; d'autres <strong class="valid-text">helpers</strong> viendront très prochainement se rajouter dans cette partie.</p>
      </section>

      <section>
        <h4>2 / Les Events</h4>

        <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les <strong class="valid-text">events</strong> sont des fonctions appelées lors d'évènements utilisateurs ; la fonction principale étant <strong class="valid-text">onKeyDown()</strong> permettant la liaison entre les touches du clavier & les actions paramétrables.</p>
      </section>

      <section>
        <h4>3 / Le Main</h4>

        <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Le <strong class="valid-text">main</strong> est la partie principale contenant les ajouts différés, au chargement effectif de la page, d'écouteurs d'évènements.</p>
      </section>

    </section>
  </article>
</main>

{% endblock %}
