{# ******************** #}
{# ***** PAM VIEW ***** #}
{# ******************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Pam : Php Approachable Microframework{% endblock %}

{% block description %}Documentation de Pam, Php Approachable Microframework - pjs/pam{% endblock %}


{% block main %}

<main id="pam" class="center">

  <article class="container" itemscope itemtype="http://schema.org/SoftwareApplication">

    <h2 class="info solid p-md">Documentation</h2>

    <figure class="mr-auto ml-auto">
      {{ include('svg/pam.svg.twig') }}
      <figcaption itemprop="name">PAM</figcaption>
    </figure>

    <ul class="btn-group m-md">

      <!-- Facebook buttons -->
      <li>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fphilippebeck.net%2Findex.php%3Faccess%3Dpjs!pam&layout=button_count&size=small&mobile_iframe=true&appId=1316979581722641&width=82&height=20" width="82" height="20" style="border:none;overflow:hidden"></iframe>
      </li>

      <!-- Tweet button -->
      <li>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js"></script>
      </li>

      <!-- linkedIn button -->
      <li>
        <script src="//platform.linkedin.com/in.js"></script>
        <script type="IN/Share" data-url="https://philippebeck.net/index.php?access=pjs!pam" data-counter="right"></script>
      </li>

    </ul>
    <ul class="btn-group">
      <li>
        <a class="btn github-outline solid-rounder inset-spread" href="https://github.com/philippebeck/pam" title="Voir le repository GitHub" itemprop="url">
          <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a class="btn packagist-outline solid-rounder inset-spread" href="https://packagist.org/packages/philippebeck/pam" title="Voir le package Packagist" itemprop="installUrl">
          <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a class="btn primary-outline solid-rounder inset-spread" href="https://github.com/philippebeck/pam/archive/master.zip" title="Télécharger Pam" itemprop="downloadUrl">
          <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </article>
</main>

{% endblock %}
