{# ******************** #}
{# ***** PAM VIEW ***** #}
{# ******************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Pam : Php Approachable Microframework{% endblock %}

{% block description %}Documentation de Pam, Php Approachable Microframework - pjs/pam{% endblock %}


{% block main %}

<main id="pam" class="container center">

  <p class="intro warning-sea solid-rounded">
    <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i>
    En construction !
    <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i><br>
    La documentation sera disponible ci-dessous avant lundi, merci de votre patience...
  </p>

  <article class="container">

    <h2 class="info-sea solid-slight p-md">Documentation de Pam</h2>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">I - Installation</h3>

    </section>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">II - Database</h3>

    </section>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">III - Model</h3>

    </section>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">IV - Controller</h3>

    </section>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">V - View</h3>

    </section>

    <section>
      <h3 class="primary-sea solid-rounded mt-wd mb-lg">VI - Helper</h3>

    </section>

  </article>

</main>

{% endblock %}
