{# ******************** #}
{# ***** PAM VIEW ***** #}
{# ******************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Pam : Php Approachable Microframework{% endblock %}

{% block description %}Documentation de Pam, Php Approachable Microframework - pjs/pam{% endblock %}


{% block main %}

<main id="pam" class="center">

  <article class="container" itemscope itemtype="http://schema.org/SoftwareApplication">

    <h2 class="info solid p-md">Documentation</h2>

    <figure class="mr-auto ml-auto">
      {{ include('svg/pam.svg.twig') }}
      <figcaption itemprop="name">PAM</figcaption>
    </figure>

    <p>La documentation de Pam est accessible dans <a class="info" href="https://github.com/philippebeck/pam/wiki">le Wiki de son Repository GitHub !</a></p>

    <ul class="btn-group">
      <li>
        <a class="btn github-outline solid-rounder inset-spread" href="https://github.com/philippebeck/pam" title="Voir le repository GitHub" itemprop="url">
          <i class="fa fa-github fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a class="btn packagist-outline solid-rounder inset-spread" href="https://packagist.org/packages/philippebeck/pam" title="Voir le package Packagist" itemprop="installUrl">
          <i class="fa fa-archive fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a class="btn primary-outline solid-rounder inset-spread" href="https://github.com/philippebeck/pam/archive/master.zip" title="Télécharger Pam" itemprop="downloadUrl">
          <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </article>
</main>

{% endblock %}
