<!-- *************************** -->
<!-- ***** Animate Section ***** -->
<!-- *************************** -->


<section id="animate">

  <h3 class="primary solid-slight m-lg">IX - Animate</h3>

    <p class="intro warning-sea solid-rounded">
      <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i>
      En construction !
      <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i><br>
    </p>

  <!-- ***** Construction of a simple animation ***** -->
  <section>
    <h4 class="secondary solid-rounded m-md">1 / La construction d'une animation simple</h4>

    <p>Toutes les animations s'implémentent à l'aide d'une classe composées de 3 parties : son type, son nom & sa durée, séparées par un tiret.</p>
    <p>La syntaxe formelle est donc la suivante : "type"-"nom"-"durée".</p>
    <p>Exemples : "anime-grow-md" ou "hover-full-lg".</p>

  </section>


  <!-- ***** Types of animations ***** -->
  <section>
    <h4 class="secondary solid-rounded m-md">2 / Les types d'animations</h4>

    <p>Il y a 4 types d'animations :</p>

    <ul>
      <li>Anime</li>
      <li>Child</li>
      <li>Active</li>
      <li>Hover</li>
    </ul>

    <!-- Anime -->
    <h5 class="special solid-rounder m-md">2.1 / Animate "Anime"</h5>

    <p>Les "anime" sont des animations qui s'activent sur l'élément ciblé, dès que le chargement de la page est effectuée.</p>

    <!-- Child -->
    <h5 class="special solid-rounder m-md">2.2 / Animate "Child"</h5>

    <p>Les "child" sont des animations qui s'activent sur le ou les enfants de l'élément ciblé, dès que le chargement de la page est effectuée.</p>

    <!-- Active -->
    <h5 class="special solid-rounder m-md">2.3 / Animate "Active"</h5>

    <p>Les "active" sont des animations qui s'activent sur l'élément ciblé dès que l'utilisateur rend l'élément "actif", tel que les exemples d'animations dans la section suivantes, c'est-à-dire au clic sans relâchement, ou lors de l'activation d'un élément sélectionné.</p>

    <!-- Hover -->
    <h5 class="special solid-rounder m-md">2.4 / Animate "Hover"</h5>

    <p>Les "hover" sont des animations qui s'activent sur l'élément ciblé dès que l'utilisateur survole l'élément.</p>

  </section>


  <!-- ***** Names of animations ***** -->
  <section class="syntax">

    <h4 class="secondary solid-rounded m-md">3 / Les noms des animations</h4>

    <p class="intro valid-sea solid-rounded inset-blur"><b>Cliquez</b> sur l'<strong>animation</strong> de votre choix <b>sans relâcher</b> pour voir son effet</p>


    <!-- Quarter animations exemples -->
    <h5 class="special solid-rounder m-md">3.1 / Animate "Quarter"</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="delete solid-rounder active-quarter-sm visible">quarter</li>
      <li class="delete solid-rounder active-quarterX-sm visible">quarterX</li>
      <li class="delete solid-rounder active-quarterY-sm visible">quarterY</li>
    </ul>


    <!-- Half animations exemples -->
    <h5 class="special solid-rounder m-md">3.2 / Animate "Half"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-half-sm visible">half</li>
      <li class="delete solid-rounder active-halfX-sm visible">halfX</li>
      <li class="delete solid-rounder active-halfY-sm visible">halfY</li>
    </ul>


    <!-- Full animations exemples -->
    <h5 class="special solid-rounder m-md">3.3 / Animate "Full"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-full-sm visible">full</li>
      <li class="delete solid-rounder active-fullX-sm visible">fullX</li>
      <li class="delete solid-rounder active-fullY-sm visible">fullY</li>
    </ul>


    <!-- Quarter 3d animations exemples -->
    <h5 class="special solid-rounder m-md">3.4 / Animate "Quarter 3d"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-quarter3d-sm visible">quarter3d</li>
      <li class="delete solid-rounder active-quarterX3d-sm visible">quarterX3d</li>
      <li class="delete solid-rounder active-quarterY3d-sm visible">quarterY3d</li>
      <li class="delete solid-rounder active-quarterZ3d-sm visible">quarterZ3d</li>
    </ul>


    <!-- Half 3d animations exemples -->
    <h5 class="special solid-rounder m-md">3.5 / Animate "Half 3d"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-half3d-sm visible">half3d</li>
      <li class="delete solid-rounder active-halfX3d-sm visible">halfX3d</li>
      <li class="delete solid-rounder active-halfY3d-sm visible">halfY3d</li>
      <li class="delete solid-rounder active-halfZ3d-sm visible">halfZ3d</li>
    </ul>


    <!-- Full 3d animations exemples -->
    <h5 class="special solid-rounder m-md">3.6 / Animate "Full 3d"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-full3d-sm visible">full3d</li>
      <li class="delete solid-rounder active-fullX3d-sm visible">fullX3d</li>
      <li class="delete solid-rounder active-fullY3d-sm visible">fullY3d</li>
      <li class="delete solid-rounder active-fullZ3d-sm visible">fullZ3d</li>
    </ul>


    <!-- Flip animations exemples -->
    <h5 class="special solid-rounder m-md">3.7 / Animate "Flip"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-flipX-sm visible">flipX</li>
      <li class="delete solid-rounder active-flipY-sm visible">flipY</li>
    </ul>


    <!-- Grow animations exemples -->
    <h5 class="special solid-rounder m-md">3.8 / Animate "Grow"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-grow-sm visible">grow</li>
      <li class="delete solid-rounder active-growX-sm visible">growX</li>
      <li class="delete solid-rounder active-growY-sm visible">growY</li>
    </ul>


    <!-- Shrink animations exemples -->
    <h5 class="special solid-rounder m-md">3.9 / Animate "Shrink"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-shrinkX-sm visible">shrinkX</li>
      <li class="delete solid-rounder active-shrinkY-sm visible">shrinkY</li>
      <li class="delete solid-rounder active-shrinkS-sm visible">shrinkS</li>
      <li class="delete solid-rounder active-shrinkM-sm visible">shrinkM</li>
      <li class="delete solid-rounder active-shrinkL-sm visible">shrinkL</li>
    </ul>


    <!-- Bounce animations exemples -->
    <h5 class="special solid-rounder m-md">3.10 / Animate "Bounce"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-bounceS-sm visible">bounceS</li>
      <li class="delete solid-rounder active-bounceM-sm visible">bounceM</li>
      <li class="delete solid-rounder active-bounceL-sm visible">bounceL</li>
    </ul>


    <!-- Fall animations exemples -->
    <h5 class="special solid-rounder m-md">3.11 / Animate "Fall"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-fallXS-sm visible">fallXS</li>
      <li class="delete solid-rounder active-fallXM-sm visible">fallXM</li>
      <li class="delete solid-rounder active-fallXL-sm visible">fallXL</li>
      <li class="delete solid-rounder active-fallYS-sm visible">fallYS</li>
      <li class="delete solid-rounder active-fallYM-sm visible">fallYM</li>
      <li class="delete solid-rounder active-fallYL-sm visible">fallYL</li>
    </ul>


    <!-- Flipper animations exemples -->
    <h5 class="special solid-rounder m-md">3.12 / Animate "Flipper"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-flipperXS-sm visible">flipperXS</li>
      <li class="delete solid-rounder active-flipperXM-sm visible">flipperXM</li>
      <li class="delete solid-rounder active-flipperXL-sm visible">flipperXL</li>
      <li class="delete solid-rounder active-flipperYS-sm visible">flipperYS</li>
      <li class="delete solid-rounder active-flipperYM-sm visible">flipperYM</li>
      <li class="delete solid-rounder active-flipperYL-sm visible">flipperYL</li>
    </ul>


    <!-- Open animations exemples -->
    <h5 class="special solid-rounder m-md">3.13 / Animate "Open"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-openXS-sm visible">openXS</li>
      <li class="delete solid-rounder active-openXM-sm visible">openXM</li>
      <li class="delete solid-rounder active-openXL-sm visible">openXL</li>
      <li class="delete solid-rounder active-openYS-sm visible">openYS</li>
      <li class="delete solid-rounder active-openYM-sm visible">openYM</li>
      <li class="delete solid-rounder active-openYL-sm visible">openYL</li>
    </ul>


    <!-- Twist animations exemples -->
    <h5 class="special solid-rounder m-md">3.14 / Animate "Twist"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-twistT-sm visible">twistT</li>
      <li class="delete solid-rounder active-twistR-sm visible">twistR</li>
      <li class="delete solid-rounder active-twistB-sm visible">twistB</li>
      <li class="delete solid-rounder active-twistL-sm visible">twistL</li>
    </ul>


    <!-- Torsion animations exemples -->
    <h5 class="special solid-rounder m-md">3.15 / Animate "Torsion"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-torsionT-sm visible">torsionT</li>
      <li class="delete solid-rounder active-torsionR-sm visible">torsionR</li>
      <li class="delete solid-rounder active-torsionB-sm visible">torsionB</li>
      <li class="delete solid-rounder active-torsionL-sm visible">torsionL</li>
    </ul>


    <!-- Twister animations exemples -->
    <h5 class="special solid-rounder m-md">3.16 / Animate "Twister"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-twisterT-sm visible">twisterT</li>
      <li class="delete solid-rounder active-twisterR-sm visible">twisterR</li>
      <li class="delete solid-rounder active-twisterB-sm visible">twisterB</li>
      <li class="delete solid-rounder active-twisterL-sm visible">twisterL</li>
    </ul>


    <!-- Cyclone animations exemples -->
    <h5 class="special solid-rounder m-md">3.17 / Animate "Cyclone"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-cycloneT-sm visible">cycloneT</li>
      <li class="delete solid-rounder active-cycloneR-sm visible">cycloneR</li>
      <li class="delete solid-rounder active-cycloneB-sm visible">cycloneB</li>
      <li class="delete solid-rounder active-cycloneL-sm visible">cycloneL</li>
    </ul>


    <!-- Slip animations exemples -->
    <h5 class="special solid-rounder m-md">3.18 / Animate "Slip"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-slipT-sm visible">slipT</li>
      <li class="delete solid-rounder active-slipR-sm visible">slipR</li>
      <li class="delete solid-rounder active-slipB-sm visible">slipB</li>
      <li class="delete solid-rounder active-slipL-sm visible">slipL</li>
      <li class="delete solid-rounder active-slipTR-sm visible">slipTR</li>
      <li class="delete solid-rounder active-slipBR-sm visible">slipBR</li>
      <li class="delete solid-rounder active-slipTL-sm visible">slipTL</li>
      <li class="delete solid-rounder active-slipBL-sm visible">slipBL</li>
    </ul>


    <!-- Slide animations exemples -->
    <h5 class="special solid-rounder m-md">3.19 / Animate "Slide"</h5>

    <ul class="row content-center gm-md gp-md">
      <li class="delete solid-rounder active-slideT-sm visible">slideT</li>
      <li class="delete solid-rounder active-slideR-sm visible">slideR</li>
      <li class="delete solid-rounder active-slideB-sm visible">slideB</li>
      <li class="delete solid-rounder active-slideL-sm visible">slideL</li>
      <li class="delete solid-rounder active-slideTR-sm visible">slideTR</li>
      <li class="delete solid-rounder active-slideBR-sm visible">slideBR</li>
      <li class="delete solid-rounder active-slideTL-sm visible">slideTL</li>
      <li class="delete solid-rounder active-slideBL-sm visible">slideBL</li>
    </ul>

  </section>


  <!-- ***** Durations of animations ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">4 / Les durées d'animations</h4>

    <p>
      La durée de l'animation correspond à l'attribut <a href="https://developer.mozilla.org/fr/docs/Web/CSS/animation-duration" title="Voir la documentation sur MDN">animation-duration</a>.
    </p>

    <p>Il y a 5 durée d'animations :</p>

    <ul>
      <li>tn  => 1s</li>
      <li>sm  => 2s</li>
      <li>md  => 5s</li>
      <li>lg  => 10s</li>
      <li>wd  => 60s</li>
    </ul>

  </section>


  <!-- ***** Construction of a complex animation ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">5 / La construction d'une animation complexe</h4>

    <p>Toutes les animations peuvent aussi s'implémenter à l'aide d'une classe composées de plus de 3 parties, on peut y adjoindre jusqu'à 6 options en les concatenants à l'aide du tiret.</p>

    <p>Il est possible de concatener le nombre d'options que l'on souhaite, l'ordre n'ayant aucune importance, du moins concernant ces options.</p>

    <p>La syntaxe formelle est donc la suivante : "type"-"nom"-"durée"-"option1"-"option2"...</p>

    <p>Exemples : "anime-grow-md-loop" ou "hover-full-lg-double-alt" ou "child-cycloneT-sm-linear-inv-large".</p>

  </section>


  <!-- ***** Concatenable options of animations ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">6 / Les options concatenables des animations</h4>

    <p>Les options concatenables sont les suivantes : "timing-function", "delay", "iteration-count", "direction", "fill-mode" & "origin".</p>


    <!-- Animation Timing function -->
    <h5 class="special solid-rounder m-md">6.1 / Option "Animation Timing Function"</h5>

    <p>
      L'option <a href="https://developer.mozilla.org/fr/docs/Web/CSS/animation-timing-function" title="Voir la documentation sur MDN">animation-timing-function</a> permet de définir la courbe de progression de l'animation.
    </p>

    <p>Ces options sont au nombre de 10 et correspondent chacune à la valeur précisée après la flèche :</p>

    <ul>
      <li>in      => ease-in</li>
      <li>out     => ease-out</li>
      <li>ease    => ease-in-out</li>
      <li>linear  => linear</li>
      <li>start   => steps(4, start)</li>
      <li>end     => steps(4)</li>
      <li>chrono  => steps(60, start)</li>
      <li>springS => cubic-bezier(1, 2, 1, -2)</li>
      <li>springM => cubic-bezier(1, 5, 1, -5)</li>
      <li>springL => cubic-bezier(1, 10, 1, -10)</li>
    </ul>


    <!-- Animation Delay -->
    <h5 class="special solid-rounder m-md">6.2 / Option "Animation Delay"</h5>

    <p>
      L'option <a href="https://developer.mozilla.org/fr/docs/Web/CSS/animation-delay" title="Voir la documentation sur MDN">animation-delay</a> permet de définit le délai avant que l'animation ne s'active.
    </p>

    <p>Ces options sont au nombre de 5 et correspondent chacune à la valeur "duration" équivalente :</p>

    <ul>
      <li>tiny    => 1s</li>
      <li>small   => 2s</li>
      <li>medium  => 5s</li>
      <li>large   => 10s</li>
      <li>wide    => 60s</li>
    </ul>


    <!-- Animation Iteration Count -->
    <h5 class="special solid-rounder m-md">6.3 / Option "Animation Iteration Count"</h5>

    <p>
      L'option <a href="https://developer.mozilla.org/fr/docs/Web/CSS/animation-iteration-count" title="Voir la documentation sur MDN">animation-iteration-count</a> permet de définir le nombre d'itération que l'animation doit effectuer.
    </p>

    <p>Ces options sont au nombre de 3 :</p>

    <ul>
      <li>double  => 2</li>
      <li>triple  => 3</li>
      <li>loop    => infinite</li>
    </ul>


    <!-- Animation Direction -->
    <h5 class="special solid-rounder m-md">6.4 / Option "Animation Direction"</h5>

    <p>
      L'option <a href="https://developer.mozilla.org/fr/docs/Web/CSS/animation-direction" title="Voir la documentation sur MDN">animation-direction</a> permet de définir dans quel sens l'animation va s'effectuée.
    </p>

    <p>Ces options sont au nombre de 3 :</p>

    <ul>
      <li>rev  => reverse</li>
      <li>alt  => alternate</li>
      <li>inv  => alternate-reverse</li>
    </ul>


    <!-- Animation Fill Mode -->
    <h5 class="special solid-rounder m-md">6.5 / Option "Animation Fill Mode"</h5>

    <p>
      L'option <a href="https://developer.mozilla.org/fr/docs/Web/CSS/animation-fill-mode" title="Voir la documentation sur MDN">animation-fill-mode</a> permet de définir la façon dont l'animation applique ses styles avant & après son exécution.
    </p>

    <p>Ces options sont au nombre de 3 :</p>

    <ul>
      <li>front  => forwards</li>
      <li>back   => backwards</li>
      <li>both   => both</li>
    </ul>


    <!-- Transform Origin -->
    <h5 class="special solid-rounder m-md">6.6 / Option "Transform Origin"</h5>

    <p>
      L'option <a href="https://developer.mozilla.org/fr/docs/Web/CSS/transform-origin" title="Voir la documentation sur MDN">transform-origin</a> permet de définit l'origine de l'élément animé.
    </p>

    <p>Ces options sont au nombre de 5 et leur nom correspond à leur valeur :</p>

    <ul>
      <li>center</li>
      <li>top</li>
      <li>right</li>
      <li>bottom</li>
      <li>left</li>
    </ul>

    <p>Ces valeurs sont associées à l'axe des X et à celui des Y :</p>

    <ul>
      <li>Si les 2 valeurs sont identiques, l'option s'implémente avec son simple nom.</li>
      <li>Si les valeurs diffèrent, les initiales seront utilisées, dans l'ordre "XY", par exemple : "tr" pour "top right", "bc" pour "bottom center", etc ...</li>
    </ul>

  </section>
</section>
