<!-- ************************** -->
<!-- ***** Border Section ***** -->
<!-- ************************** -->


<section>
  <h3 class="primary-sea solid-rounded mt-wd mb-lg">VI - Border</h3>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>Border</strong> se décomposent en 3 parties :

    <pre class="valid-text">style-radius-width</pre>
  </p>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Mais <em>seul le style est obligatoire</em>, la valeur de radius par défaut est <strong>square</strong> & celle de width est <strong>md</strong>.</p>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> On peut donc écrire une classe de <strong>Border</strong> de 4 manières :

    <pre class="valid-text">
      .style
      .style-radius
      .style-width
      .style-radius-width
    </pre>
  </p>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Exemples :

    <pre class="valid-text">
      .dashed
      .solid-round
      .ridge-lg
      .inset-slight-sm
    </pre>
  </p>

  <div class="btn-group">
    <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/variables/_border.var.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les variables de Border">Variables</a>

    <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/mixins/_border.mix.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les mixins de Border">Mixins</a>

    <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_border.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les classes de Border">Classes</a>
  </div>

  <section>
    <h4>Border Style</h4>

    <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>8 styles</strong> de bordures sont disponibles :
      <ul class="valid-text">
        <li>dotted</li>
        <li>dashed</li>
        <li>solid</li>
        <li>double</li>
        <li>groove</li>
        <li>ridge</li>
        <li>inset</li>
        <li>ouset</li>
      </ul>
    </p>
  </section>

  <section>
    <h4>Border Radius</h4>

    <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>5 radius</strong> de bordures sont disponibles :
      <ul class="valid-text">
        <li>(square)</li>
        <li>slight</li>
        <li>rounded</li>
        <li>rounder</li>
        <li>round</li>
      </ul>
    </p>
    <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>square</strong> est la valeur des classes Border ne spécifiant pas le radius & <em>n'est donc disponible qu'en omettant le radius</em>.</p>
  </section>

  <section>
    <h4>Border Width</h4>

    <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>3 width</strong> de bordures sont disponibles :
      <ul class="valid-text">
        <li>sm</li>
        <li>(md)</li>
        <li>lg</li>
      </ul>
    </p>
    <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>md</strong> est la valeur des classes Border ne spécifiant pas le width & </em>n'est donc disponible qu'en omettant le width</em>.</p>
  </section>

</section>
