<!-- ************************** -->
<!-- ***** Border Section ***** -->
<!-- ************************** -->


<section id="border">
  
  <h3 class="primary-sea solid-rounded mt-wd mb-lg">VI - Border</h3>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>border</strong> se composent de 3 parties :

    <pre class="valid-text">style-radius-width</pre>
  </p>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Mais seul <strong>le style est obligatoire</strong> ; par défaut, la valeur de <em>radius est square</em> & celle de <em>width est md</em>.
  </p>

  <p>
    <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> On peut donc écrire une classe <strong>border</strong> de 4 manières :

    <pre class="valid-text">.style</pre>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le radius vaudra alors la valeur square & la width la valeur md (8 classes)

    <pre class="valid-text">.style-width</pre>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le radius vaudra alors square (16 classes)

    <pre class="valid-text">.style-radius</pre>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> la width vaudra alors md (32 classes)

    <pre class="valid-text">.style-radius-width</pre>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> chaque valeur est précisée (64 classes)
  </p>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Ce qui donne <strong>120 combinaisons/classes de bordures</strong> !
  </p>

  <p>
    <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Exemples :

    <pre class="valid-text">.dashed</pre>
    <pre class="valid-text">.solid-round</pre>
    <pre class="valid-text">.ridge-lg</pre>
    <pre class="valid-text">.inset-slight-sm</pre>
  </p>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les <strong>codes sources</strong> sont disponibles ci-dessous...
  </p>

  <div class="btn-group">

    <a class="btn delete-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/variables/_border.var.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les variables Border">Variables</a>

    <a class="btn valid-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/mixins/_border.mix.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les mixins Border">Mixins</a>

    <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_border.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les classes Border">Classes</a>
  </div>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> De plus, les classes <strong>border</strong> peuvent être <em>affectées aux parents des balises th & td</em>...
  </p>


  <!-- ******************************** -->
  <!-- ***** Border Style Section ***** -->
  <section>
    <h4 class="secondary-sea solid-rounder-sm">1 / Border Style</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>8 styles</strong> de bordures sont disponibles :

      <ul class="row content-center gm-md gp-md">

        <li class="dotted"  title="Le contour est en pointillets">dotted</li>
        <li class="dashed"  title="Le contour est en tirets">dashed</li>
        <li class="solid"   title="Le contour est en ligne droite continue">solid</li>
        <li class="double"  title="Le contour est en ligne droite double">double</li>
        <li class="groove"  title="La bordure est enfoncée dans le document">groove</li>
        <li class="ridge"   title="La bordure ressort du document">ridge</li>
        <li class="inset"   title="La boîte est enfoncée dans le document">inset</li>
        <li class="outset"  title="La boîte ressort du document">outset</li>
      </ul>
    </p>

  </section>


  <!-- ********************************* -->
  <!-- ***** Border Radius Section ***** -->
  <section>
    <h4 class="secondary-sea solid-rounder-sm">2 / Border Radius</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>5 radius</strong> de bordures sont disponibles :

      <ul class="row content-center gm-md gp-md">

        <li class="solid"         title="Le contour a les angles droits">(square)</li>
        <li class="solid-slight"  title="Le contour a les angles légèrement biseautés">slight</li>
        <li class="solid-rounded" title="Le contour a les angles arrondis">rounded</li>
        <li class="solid-rounder" title="Le contour a les angles très arrondis">rounder</li>
        <li class="solid-round"   title="L'élément est ellipsoïdale, voir rond">round</li>
      </ul>
    </p>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>square</strong> est la valeur des classes Border ne spécifiant pas le radius, elle est donc la valeur par défaut & <em>n'est disponible qu'en omettant le radius</em>.
    </p>

  </section>


  <!-- ******************************** -->
  <!-- ***** Border Width Section ***** -->
  <section>
    <h4 class="secondary-sea solid-rounder-sm">3 / Border Width</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>3 width</strong> de bordures sont disponibles :

      <ul class="row content-center gm-md gp-md">

        <li class="solid-sm"  title="Le contour est fin">sm</li>
        <li class="solid"     title="Le contour est d'une épaisseur moyenne">(md)</li>
        <li class="solid-lg"  title="Le contour est épais">lg</li>
      </ul>
    </p>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>md</strong> est la valeur des classes Border ne spécifiant pas le width, elle est donc la valeur par défaut & <em>n'est disponible qu'en omettant le width</em>.
    </p>
  </section>

</section>
