<!-- ************************** -->
<!-- ***** Button Section ***** -->
<!-- ************************** -->


<section>
  <h3 class="primary-sea solid-rounded mt-wd mb-lg">III - Btn</h3>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>btn</strong> sont au nombre de 2 :

    <pre class="valid-text">
      .btn
      .btn-group
    </pre>
  </p>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> La classe <strong>btn</strong> s'implémente <em>sur l'élément qui doit être un bouton</em>.</p>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Alors que la classe <strong>btn-group</strong> s'implémente <em>sur l'élément parent</em> des boutons.</p>

  <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_button.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les classes btn">Classes btn</a>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> La classe <strong>btn</strong> se complémente sur un élément à l'aide :
    <ul>
      <li>d'une classe color,</li>
      <li>et/ou d'une classe border,</li>
      <li>et/ou d'une classe shadow,</li>
      <li>et/ou d'une classe animate,</li>
      <li>et/ou d'une ou de plusieurs classes helper.</li>
    </ul>
  </p>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Cela permet d'obtenir un éventail de boutons sans limite...</p>

  <section>
    <h4 class="secondary-sea solid-rounder-sm">1 / Color Button</h4>

    <p>Sam propose 5 types de couleurs, concatenables avec n'importe quelle couleur & associables avec la classe btn.</p>

    <p>Par défaut, Sam inclut 10 couleurs de base, mais les couleurs du projet & des marques peuvent aussi être appelés, ainsi que n'importe quelle couleur insérée dans la map $colors du fichier _color.var.scss...</p>

    <p>Les exemples qui suivent montrent uniquement les 10 couleurs basiques.</p>

    <h5>1.1 / color-outline</h5>

    <div class="btn-group">
      <a class="btn default-outline solid"  href="#" title='class="btn default-outline"'>.default-outline</a>
      <a class="btn info-outline solid"     href="#" title='class="btn info-outline"'>.info-outline</a>
      <a class="btn classic-outline solid"  href="#" title='class="btn classic-outline"'>.classic-outline</a>
      <a class="btn cancel-outline solid"   href="#" title='class="btn cancel-outline"'>.cancel-outline</a>
      <a class="btn valid-outline solid"    href="#" title='class="btn valid-outline"'>.valid-outline</a>
      <a class="btn warning-outline solid"  href="#" title='class="btn warning-outline"'>.warning-outline</a>
      <a class="btn delete-outline solid"   href="#" title='class="btn delete-outline"'>.delete-outline</a>
      <a class="btn special-outline solid"  href="#" title='class="btn special-outline"'>.special-outline</a>
      <a class="btn base-outline solid"     href="#" title='class="btn base-outline"'>.base-outline</a>
      <a class="btn new-outline solid"      href="#" title='class="btn new-outline"'>.new-outline</a>
    </div>

    <h5>1.2 / color-light</h5>

    <div class="btn-group">
      <a class="btn default-light solid"  href="#" title='class="btn default-light"'>.default-light</a>
      <a class="btn info-light solid"     href="#" title='class="btn info-light"'>.info-light</a>
      <a class="btn classic-light solid"  href="#" title='class="btn classic-light"'>.classic-light</a>
      <a class="btn cancel-light solid"   href="#" title='class="btn cancel-light"'>.cancel-light</a>
      <a class="btn valid-light solid"    href="#" title='class="btn valid-light"'>.valid-light</a>
      <a class="btn warning-light solid"  href="#" title='class="btn warning-light"'>.warning-light</a>
      <a class="btn delete-light solid"   href="#" title='class="btn delete-light"'>.delete-light</a>
      <a class="btn special-light solid"  href="#" title='class="btn special-light"'>.special-light</a>
      <a class="btn base-light solid"     href="#" title='class="btn base-light"'>.base-light</a>
      <a class="btn new-light solid"      href="#" title='class="btn new-light"'>.new-light</a>
    </div>

    <h5>1.3 / color-trans</h5>

    <div class="btn-group">
      <a class="btn default-trans solid"  href="#" title='class="btn default-trans"'>.default-trans</a>
      <a class="btn info-trans solid"     href="#" title='class="btn info-trans"'>.info-trans</a>
      <a class="btn classic-trans solid"  href="#" title='class="btn classic-trans"'>.classic-trans</a>
      <a class="btn cancel-trans solid"   href="#" title='class="btn cancel-trans"'>.cancel-trans</a>
      <a class="btn valid-trans solid"    href="#" title='class="btn valid-trans"'>.valid-trans</a>
      <a class="btn warning-trans solid"  href="#" title='class="btn warning-trans"'>.warning-trans</a>
      <a class="btn delete-trans solid"   href="#" title='class="btn delete-trans"'>.delete-trans</a>
      <a class="btn special-trans solid"  href="#" title='class="btn special-trans"'>.special-trans</a>
      <a class="btn base-trans solid"     href="#" title='class="btn base-trans"'>.base-trans</a>
      <a class="btn new-trans solid"      href="#" title='class="btn new-trans"'>.new-trans</a>
    </div>

    <h5>1.4 / color-btn</h5>

    <div class="btn-group">
      <a class="btn default-btn solid"  href="#" title='class="btn default-btn"'>.default-btn</a>
      <a class="btn info-btn solid"     href="#" title='class="btn info-btn"'>.info-btn</a>
      <a class="btn classic-btn solid"  href="#" title='class="btn classic-btn"'>.classic-btn</a>
      <a class="btn cancel-btn solid"   href="#" title='class="btn cancel-btn"'>.cancel-btn</a>
      <a class="btn valid-btn solid"    href="#" title='class="btn valid-btn"'>.valid-btn</a>
      <a class="btn warning-btn solid"  href="#" title='class="btn warning-btn"'>.warning-btn</a>
      <a class="btn delete-btn solid"   href="#" title='class="btn delete-btn"'>.delete-btn</a>
      <a class="btn special-btn solid"  href="#" title='class="btn special-btn"'>.special-btn</a>
      <a class="btn base-btn solid"     href="#" title='class="btn base-btn"'>.base-btn</a>
      <a class="btn new-btn solid"      href="#" title='class="btn new-btn"'>.new-btn</a>
    </div>

    <h5>1.5 / color-dark</h5>

    <div class="btn-group">
      <a class="btn default-dark solid"  href="#" title='class="btn default-dark"'>.default-dark</a>
      <a class="btn info-dark solid"     href="#" title='class="btn info-dark"'>.info-dark</a>
      <a class="btn classic-dark solid"  href="#" title='class="btn classic-dark"'>.classic-dark</a>
      <a class="btn cancel-dark solid"   href="#" title='class="btn cancel-dark"'>.cancel-dark</a>
      <a class="btn valid-dark solid"    href="#" title='class="btn valid-dark"'>.valid-dark</a>
      <a class="btn warning-dark solid"  href="#" title='class="btn warning-dark"'>.warning-dark</a>
      <a class="btn delete-dark solid"   href="#" title='class="btn delete-dark"'>.delete-dark</a>
      <a class="btn special-dark solid"  href="#" title='class="btn special-dark"'>.special-dark</a>
      <a class="btn base-dark solid"     href="#" title='class="btn base-dark"'>.base-dark</a>
      <a class="btn new-dark solid"      href="#" title='class="btn new-dark"'>.new-dark</a>
    </div>
  </section>
</section>
