<!-- ************************** -->
<!-- ***** Button Section ***** -->
<!-- ************************** -->


<section id="btn">

  <h3 class="primary solid-slight m-lg">III - Button</h3>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>btn</strong> sont au nombre de 2 :
  </p>

  <ul>
    <li>
      <pre class="valid-text">.btn</pre>
    </li>
    <li>
      <pre class="valid-text">.btn-group</pre>
    </li>
  </ul>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> La classe <strong>btn</strong> s'implémente <em>sur l'élément qui doit être un bouton</em>.
  </p>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Alors que la classe <strong>btn-group</strong> s'implémente <em>sur l'élément parent</em> des boutons.
  </p>

  <p>
    <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Le <em>code source</em> est disponible ci-dessous :
  </p>

  <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_button.scss" title="Voir les classes btn">Classes btn</a>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> La classe <strong>btn</strong> se complémente sur un élément à l'aide :
  </p>

  <ul>
    <li>d'une classe color,</li>
    <li>et/ou d'une classe border,</li>
    <li>et/ou d'une classe shadow,</li>
    <li>et/ou d'une classe animate,</li>
    <li>et/ou d'une ou de plusieurs classes helper.</li>
  </ul>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Cela permet d'obtenir un éventail de boutons sans limite...
  </p>

</section>
