<!-- ************************* -->
<!-- ***** Color Section ***** -->
<!-- ************************* -->


<section>
  <h3 class="primary-sea solid-rounded mt-wd mb-lg">VIII - Color</h3>

  <p class="container">La partie Couleur se composent de 3 familles de couleurs : les basiques, les personnalisées & celles de marques. Chaque couleur possède 10 variations au total, dont certaines sont simples, n'affectant q'une partie de l'élément, & d'autres multiples, affectant le fond, la bordure et le texte.</p>

  <section>
    <h4>1 / Les couleurs</h4>

    <h5>1.1 / Les couleurs basiques</h5>

    <ul class="row content-center gm-md content-center gp-md">

      <li class="default solid-rounder">default</li>
      <li class="info solid-rounder">info</li>
      <li class="classic solid-rounder">classic</li>
      <li class="cancel solid-rounder">cancel</li>
      <li class="valid solid-rounder">valid</li>
      <li class="warning solid-rounder">warning</li>
      <li class="delete solid-rounder">delete</li>
      <li class="special solid-rounder">special</li>
      <li class="base solid-rounder">base</li>
      <li class="new solid-rounder">new</li>

    </ul>

    <h5>1.2 / Les couleurs personnalisées</h5>

    <ul class="row content-center gm-md content-center gp-md">

      <li class="primary solid-rounder">primary</li>
      <li class="secondary solid-rounder">secondary</li>

    </ul>

    <h5>1.3 / Les couleurs de marques</h5>

    <ul class="row content-center gm-md content-center gp-md">

      <li class="facebook solid-rounder">facebook</li>
      <li class="freecodecamp solid-rounder">freecodecamp</li>
      <li class="github solid-rounder">github</li>
      <li class="linkedin solid-rounder">linkedin</li>
      <li class="medium solid-rounder">medium</li>
      <li class="npm solid-rounder">npm</li>
      <li class="packagist solid-rounder">packagist</li>
      <li class="stackoverflow solid-rounder">stackoverflow</li>
      <li class="twitter default-text solid-rounder">twitter</li>

    </ul>
  </section>


  <section>
    <h4>2 / Les variations de couleurs</h4>

    <ul class="row content-center gm-md content-center gp-md">

      <li class="info solid-rounder">info</li>
      <li class="info-btn solid-rounder">info-btn</li>
      <li class="info-outline solid-rounder">info-outline</li>
      <li class="info-light solid-rounder">info-light</li>
      <li class="info-dark solid-rounder">info-dark</li>
      <li class="info-sea solid-rounder">info-sea</li>
      <li class="info-glass solid-rounder">info-glass</li>
      <li class="info-trans solid-rounder">info-trans</li>
      <li class="info-border default-text solid-rounder">info-border</li>
      <li class="info-text default-text solid-rounder">info-text</li>

    </ul>
  </section>

</section>
