<!-- ************************* -->
<!-- ***** Color Section ***** -->
<!-- ************************* -->


<section>
  <h3 class="primary-sea solid-rounded mt-wd mb-lg">VIII - Color</h3>

  <p class="container">La partie Couleur se composent de 3 familles de couleurs : les basiques, les personnalisées & celles de marques. Chaque couleur possède 10 variations au total, dont certaines sont simples, n'affectant q'une partie de l'élément, & d'autres multiples, affectant le fond, la bordure et le texte.</p>

  <div class="btn-group">
    <a class="btn delete-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/variables/_color.var.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les variables Color">Variables</a>

    <a class="btn new-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/functions/_color.fun.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les fonctions Color">Fonctions</a>

    <a class="btn valid-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/mixins/_color.mix.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les mixins Color">Mixins</a>

    <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_color.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les classes Color">Classes</a>
  </div>

  <section>
    <h4>1 / Les couleurs</h4>

    <h5>1.1 / Les couleurs basiques</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="default  solid-rounder">default</li>
      <li class="info     solid-rounder">info</li>
      <li class="classic  solid-rounder">classic</li>
      <li class="cancel   solid-rounder">cancel</li>
      <li class="valid    solid-rounder">valid</li>
      <li class="warning  solid-rounder">warning</li>
      <li class="delete   solid-rounder">delete</li>
      <li class="special  solid-rounder">special</li>
      <li class="base     solid-rounder">base</li>
      <li class="new      solid-rounder">new</li>
    </ul>

    <h5>1.2 / Les couleurs personnalisées</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="primary    solid-rounder">.primary</li>
      <li class="secondary  solid-rounder">.secondary</li>
    </ul>

    <h5>1.3 / Les couleurs de marques</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="facebook       solid-rounder">facebook</li>
      <li class="freecodecamp   solid-rounder">freecodecamp</li>
      <li class="github         solid-rounder">github</li>
      <li class="linkedin       solid-rounder">linkedin</li>
      <li class="medium         solid-rounder">medium</li>
      <li class="npm            solid-rounder">npm</li>
      <li class="packagist      solid-rounder">packagist</li>
      <li class="stackoverflow  solid-rounder">stackoverflow</li>
      <li class="twitter        solid-rounder">twitter</li>
    </ul>
  </section>

  <section>
    <h4>2 / Les variations de couleurs "mono-state"</h4>

    <h5>2.1 / Color</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="default  solid-rounder">.default</li>
      <li class="info     solid-rounder">.info</li>
      <li class="classic  solid-rounder">.classic</li>
      <li class="cancel   solid-rounder">.cancel</li>
      <li class="valid    solid-rounder">.valid</li>
      <li class="warning  solid-rounder">.warning</li>
      <li class="delete   solid-rounder">.delete</li>
      <li class="special  solid-rounder">.special</li>
      <li class="base     solid-rounder">.base</li>
      <li class="new      solid-rounder">.new</li>
    </ul>

    <h5>2.2 / Color Glass</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="default-glass  solid-rounder">.default-glass</li>
      <li class="info-glass     solid-rounder">.info-glass</li>
      <li class="classic-glass  solid-rounder">.classic-glass</li>
      <li class="cancel-glass   solid-rounder">.cancel-glass</li>
      <li class="valid-glass    solid-rounder">.valid-glass</li>
      <li class="warning-glass  solid-rounder">.warning-glass</li>
      <li class="delete-glass   solid-rounder">.delete-glass</li>
      <li class="special-glass  solid-rounder">.special-glass</li>
      <li class="base-glass     solid-rounder">.base-glass</li>
      <li class="new-glass      solid-rounder">.new-glass</li>
    </ul>

    <h5>2.3 / Color Sea</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="default-sea  solid-rounder">.default-sea</li>
      <li class="info-sea     solid-rounder">.info-sea</li>
      <li class="classic-sea  solid-rounder">.classic-sea</li>
      <li class="cancel-sea   solid-rounder">.cancel-sea</li>
      <li class="valid-sea    solid-rounder">.valid-sea</li>
      <li class="warning-sea  solid-rounder">.warning-sea</li>
      <li class="delete-sea   solid-rounder">.delete-sea</li>
      <li class="special-sea  solid-rounder">.special-sea</li>
      <li class="base-sea     solid-rounder">.base-sea</li>
      <li class="new-sea      solid-rounder">.new-sea</li>
    </ul>
  </section>


  <section>
    <h4>3 / Les variations de couleurs "poly-state"</h4>

    <h5>3.1 / Color Outline</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="default-outline  solid-rounder">.default-outline</li>
      <li class="info-outline     solid-rounder">.info-outline</li>
      <li class="classic-outline  solid-rounder">.classic-outline</li>
      <li class="cancel-outline   solid-rounder">.cancel-outline</li>
      <li class="valid-outline    solid-rounder">.valid-outline</li>
      <li class="warning-outline  solid-rounder">.warning-outline</li>
      <li class="delete-outline   solid-rounder">.delete-outline</li>
      <li class="special-outline  solid-rounder">.special-outline</li>
      <li class="base-outline     solid-rounder">.base-outline</li>
      <li class="new-outline      solid-rounder">.new-outline</li>
    </ul>

    <h5>3.2 / Color Light</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="default-light  solid-rounder">.default-light</li>
      <li class="info-light     solid-rounder">.info-light</li>
      <li class="classic-light  solid-rounder">.classic-light</li>
      <li class="cancel-light   solid-rounder">.cancel-light</li>
      <li class="valid-light    solid-rounder">.valid-light</li>
      <li class="warning-light  solid-rounder">.warning-light</li>
      <li class="delete-light   solid-rounder">.delete-light</li>
      <li class="special-light  solid-rounder">.special-light</li>
      <li class="base-light     solid-rounder">.base-light</li>
      <li class="new-light      solid-rounder">.new-light</li>
    </ul>

    <h5>3.3 / Color Trans</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="default-trans  solid-rounder">.default-trans</li>
      <li class="info-trans     solid-rounder">.info-trans</li>
      <li class="classic-trans  solid-rounder">.classic-trans</li>
      <li class="cancel-trans   solid-rounder">.cancel-trans</li>
      <li class="valid-trans    solid-rounder">.valid-trans</li>
      <li class="warning-trans  solid-rounder">.warning-trans</li>
      <li class="delete-trans   solid-rounder">.delete-trans</li>
      <li class="special-trans  solid-rounder">.special-trans</li>
      <li class="base-trans     solid-rounder">.base-trans</li>
      <li class="new-trans      solid-rounder">.new-trans</li>
    </ul>

    <h5>3.4 / Color Btn</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="default-btn  solid-rounder">.default-btn</li>
      <li class="info-btn     solid-rounder">.info-btn</li>
      <li class="classic-btn  solid-rounder">.classic-btn</li>
      <li class="cancel-btn   solid-rounder">.cancel-btn</li>
      <li class="valid-btn    solid-rounder">.valid-btn</li>
      <li class="warning-btn  solid-rounder">.warning-btn</li>
      <li class="delete-btn   solid-rounder">.delete-btn</li>
      <li class="special-btn  solid-rounder">.special-btn</li>
      <li class="base-btn     solid-rounder">.base-btn</li>
      <li class="new-btn      solid-rounder">.new-btn</li>
    </ul>

    <h5>3.5 / Color Dark</h5>

    <ul class="row content-center gm-md content-center gp-md">
      <li class="default-dark  solid-rounder">.default-dark</li>
      <li class="info-dark     solid-rounder">.info-dark</li>
      <li class="classic-dark  solid-rounder">.classic-dark</li>
      <li class="cancel-dark   solid-rounder">.cancel-dark</li>
      <li class="valid-dark    solid-rounder">.valid-dark</li>
      <li class="warning-dark  solid-rounder">.warning-dark</li>
      <li class="delete-dark   solid-rounder">.delete-dark</li>
      <li class="special-dark  solid-rounder">.special-dark</li>
      <li class="base-dark     solid-rounder">.base-dark</li>
      <li class="new-dark      solid-rounder">.new-dark</li>
    </ul>
  </section>
</section>
