<!-- *************************** -->
<!-- ***** Display Section ***** -->
<!-- *************************** -->


<section id="display">

  <h3 class="primary solid-slight m-lg">V - Display</h3>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>display</strong> sont réparties en 4 groupes :
  </p>

  <ul>
    <li>
      <pre class="special-text">Container</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément d'une manière spécifique
    </li>
    <li>
      <pre class="special-text">Fixed</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément
    </li>
    <li>
      <pre class="special-text">Flex</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément de manière flexible
    </li>
    <li>
      <pre class="special-text">Grid</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher des éléments dans une grille
    </li>
  </ul>


  <!-- SCSS Sources -->
  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les <strong>codes sources</strong> sont disponibles ci-dessous...
  </p>

  <ul class="btn-group">
    <li>
      <a class="btn delete-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/variables/_display.var.scss" title="Voir les variables Display">Variables</a>
    </li>
    <li>
      <a class="btn valid-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/mixins/_display.mix.scss" title="Voir les mixins Display">Mixins</a>
    </li>
    <li>
      <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_display.scss" title="Voir les classes Display">Classes</a>
    </li>
  </ul>


  <!-- ***************************** -->
  <!-- ***** Container Section ***** -->
  <section>
    <h4 class="secondary solid-rounded m-md">1 / Container</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>5 classes Container</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.none</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour cacher globalement un élément
      </li>
      <li>
        <pre class="valid-text">.hide</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour cacher visuellement un élément
      </li>
      <li>
        <pre class="valid-text">.container</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un conteneur de 80% centré
      </li>
      <li>
        <pre class="valid-text">.block</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément en tant que bloc
      </li>
      <li>
        <pre class="valid-text">.in-block</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément en tant bloc en ligne
      </li>
    </ul>

  </section>


  <!-- ************************* -->
  <!-- ***** Fixed Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">2 / Fixed</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>12 classes Fixed</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.fixed-top / .fixed-right / .fixed-bottom / .fixed-left</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément dans l'une des 4 principales directions
      </li>
      <li>
        <pre class="valid-text">.fixed-ct / .fixed-cr / .fixed-cb / .fixed-cl</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément au centre de l'une des 4 directions
      </li>
      <li>
        <pre class="valid-text">.fixed-tr / .fixed-br / .fixed-bl / .fixed-tl</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément dans l'un des 4 angles
      </li>
    </ul>

  </section>


  <!-- ************************ -->
  <!-- ***** Flex Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">3 / Flex</h4>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>3 types de classes Flex</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.col</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour créer une liste en colonne avec flexbox
      </li>
      <li>
        <pre class="valid-text">.row</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour créer une liste en rangée avec flexbox
      </li>
      <li>
        <pre class="valid-text">.flex</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour créer une grille avec flexbox
      </li>
    </ul>


    <!-- ***** Col Section ***** -->
    <section>
      <h5 class="special solid-rounder m-md">3.1 / La classe Col</h5>

      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> La classe <strong>col</strong> se composent de 2 parties :
      </p>
      <pre class="valid-text">col-options</pre>

      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Ces options sont au nombre de 3, sont facultatives & peuvent être concaténées ensemble dans une certaine mesure :
      </p>

      <ul>
        <li>
          <pre class="valid-text">reverse</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour inverser l'ordre des éléments flexibles
        </li>
        <li>
          <pre class="valid-text">nowrap</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour contraindre les éléments flexibles sur une seule colonne
        </li>
        <li>
          <pre class="valid-text">inverse</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour inverser l'ordre des colonnes
        </li>
      </ul>


      <!-- Syntax -->
      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> On peut donc écrire la classe <strong>col</strong> de différentes manières :
      </p>

      <ul>
        <li>
          <pre class="valid-text">.col</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> sans option
        </li>
        <li>
          <pre class="valid-text">.col-option1</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> avec l'une des 3 options
        </li>
        <li>
          <pre class="valid-text">.col-option1-option2</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> avec 2 des 3 options (nowrap & inverse ne sont pas associables)
        </li>
      </ul>

    </section>


    <!-- ***** Row Section ***** -->
    <section>
      <h5 class="special solid-rounder m-md">3.2 / La classe Row</h5>

      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> La classe <strong>row</strong> se composent de 2 parties :
      </p>
      <pre class="valid-text">row-options</pre>

      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Ces options sont au nombre de 3, sont facultatives & peuvent être concaténées ensemble dans une certaine mesure (elles sont les mêmes que pour la classe col) :
      </p>

      <ul>
        <li>
          <pre class="valid-text">reverse</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour inverser l'ordre des éléments flexibles
        </li>
        <li>
          <pre class="valid-text">nowrap</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour contraindre les éléments flexibles sur une seule ligne
        </li>
        <li>
          <pre class="valid-text">inverse</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour inverser l'ordre des lignes
        </li>
      </ul>


      <!-- Syntax -->
      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> On peut donc écrire la classe <strong>row</strong> de différentes manières (tel que la classe col) :
      </p>

      <ul>
        <li>
          <pre class="valid-text">.row</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> sans option
        </li>
        <li>
          <pre class="valid-text">.row-option1</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> avec l'une des 3 options
        </li>
        <li>
          <pre class="valid-text">.row-option1-option2</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> avec 2 des 3 options (nowrap & inverse ne sont pas associables)
        </li>
      </ul>

    </section>


    <!-- ***** Flex Section ***** -->
    <section>
      <h5 class="special solid-rounder m-md">3.3 / Les classes Flex</h5>

      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>flex</strong> s'adaptent aux différentes tailles d'écrans ainsi qu'aux nombres de colonnes que l'on désire.
      </p>


      <!-- Syntax -->
      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>flex</strong> se composent de 2 parties :
      </p>
      <pre class="valid-text">flex-grilles</pre>

      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Mais seul <strong>flex est obligatoire</strong> ; dans ce cas uniquement, son comportement ne sera pas lié aux tailles d'écrans ni au nombre de colonnes.
      </p>

      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Dans tous les autres cas, ces <strong>grilles</strong>, qui définissent <em>le nombre de colonnes sur tel type d'écran</em>, s'écrivent en concaténant :
      </p>

      <ol>
        <li>le nombre de colonnes désirées, de <strong>2 à 12</strong></li>
        <li>avec le type d'écran, c'est-à-dire <strong>tn, sm, md, lg, wd</strong>.</li>
      </ol>


      <!-- Examples -->
      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Exemples :
      </p>

      <ul>
        <li>
          <pre class="valid-text">.flex-2tn</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>2 colonnes</strong> pour une résolution comprise <em>entre 480px & 576px</em>
        </li>
        <li>
          <pre class="valid-text">.flex-5sm</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>5 colonnes</strong> pour une résolution comprise <em>entre 576px & 768px</em>
        </li>
        <li>
          <pre class="valid-text">.flex-7md</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>7 colonnes</strong> pour une résolution comprise <em>entre 768px & 1024px</em>
        </li>
        <li>
          <pre class="valid-text">.flex-10wd</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>10 colonnes</strong> pour une résolution <em>supérieure à 1366px</em>
        </li>
      </ul>

      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Il est aussi possible de concaténer plusieurs grilles afin de définir tous les comportements attendus (sur chaque type d'écran) :
      </p>

      <ul>
        <li>
          <pre class="valid-text">.flex-5sm-10lg</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>5 colonnes</strong> pour une résolution comprise <em>entre 576px & 1024px</em>,
          <br>puis <em>au-delà de 1024px</em>, <strong>10 colonnes</strong>
        </li>
        <li>
          <pre class="valid-text">.flex-4tn-8md-12wd</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>4 colonnes</strong> pour une résolution comprise <em>entre 480px & 768px</em>,
          <br>puis <strong>8 colonnes</strong> pour une résolution <em>entre 768px & 1366px</em>,
          <br>enfin <strong>12 colonnes</strong> <em>au-delà de 1366px</em>
        </li>
        <li>
          <pre class="valid-text">.flex-3sm-6md-9lg-12wd</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>3 colonnes</strong> pour une résolution comprise entre <em>576px & 768px</em>,
          <br>puis <strong>6 colonnes</strong> pour une résolution <em>entre 768px & 1024px</em>,
          <br>ensuite <strong>9 colonnes</strong> <em>entre 1024px & 1366px</em>,
          <br>enfin <strong>12 colonnes</strong> <em>au-delà de 1366px</em>
        </li>
        <li>
          <pre class="valid-text">.flex-2tn-4sm-6md-8lg-10wd</pre>
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>2 colonnes</strong> pour une résolution comprise <em>entre 480px & 576px</em>,
          <br>puis <strong>4 colonnes</strong> pour une résolution <em>entre 576px & 768px</em>,
          <br>ensuite <strong>6 colonnes</strong> <em>entre 768px & 1024px</em>,
          <br>après <strong>8 colonnes</strong> <em>entre 1024px & 1366px</em>,
          <br>et enfin <strong>10 colonnes</strong> <em>au-delà de 1366px</em>
        </li>
      </ul>

      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> De plus, <strong>un type d'option spécifique au flex layout</strong> est disponible :
      </p>

      <pre class="valid-text">flexible</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> se définit sur un élément enfant pour modifier ses dimensions
      </p>

      <!-- Syntax -->
      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>9 classes flexible</strong> sont disponibles :
      </p>

      <ul>
        <li>
          <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-auto</span>"&gt;Flex = 1 1 auto&lt;/<span class="delete-text">div</span>&gt;</pre>
        </li>
        <li>
          <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-grow</span>"&gt;Flex = 1 0 auto&lt;/<span class="delete-text">div</span>&gt;</pre>
        </li>
        <li>
          <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-shrink</span>"&gt;Flex = 0 1 auto&lt;/<span class="delete-text">div</span>&gt;</pre>
        </li>
        <li>
          <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-none</span>"&gt;Flex = 0 0 auto&lt;/<span class="delete-text">div</span>&gt;</pre>
        </li>
        <li>
          <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-double</span>"&gt;Flex = 2 0 auto&lt;/<span class="delete-text">div</span>&gt;</pre>
        </li>
        <li>
          <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-half</span>"&gt;Flex = 0 2 auto&lt;/<span class="delete-text">div</span>&gt;</pre>
        </li>
        <li>
          <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-third</span>"&gt;Flex = 0 3 auto&lt;/<span class="delete-text">div</span>&gt;</pre>
        </li>
        <li>
          <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-quarter</span>"&gt;Flex = 0 4 auto&lt;/<span class="delete-text">div</span>&gt;</pre>
        </li>
        <li>
          <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-all</span>"&gt;Flex = 1 1 100%&lt;/<span class="delete-text">div</span>&gt;</pre>
        </li>
      </ul>

    </section>
  </section>


  <!-- ************************ -->
  <!-- ***** Grid Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">4 / Grid</h4>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Grid</strong> s'adaptent aux différentes tailles d'écrans ainsi qu'aux nombres de colonnes que l'on désire.
    </p>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Grid</strong> sont de 2 types :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.grid</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour avoir une <em>grille contenue dans 80% de la largeur & centrée</em>
      </li>
      <li>
        <pre class="valid-text">.fluid</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour avoir une <em>grille prenant toute la largeur disponible</em>
      </li>
    </ul>


    <!-- Syntax -->
    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>grid & fluid</strong> se composent de 2 parties :
    </p>
    <pre class="valid-text">grid-grilles</pre>


    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Mais seul <strong>grid est obligatoire</strong> ; dans ce cas uniquement, son comportement ne sera pas lié aux tailles d'écrans ni au nombre de colonnes.
    </p>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Dans tous les autres cas, ces <strong>grilles</strong>, qui définissent <em>le nombre de colonnes sur tel type d'écran</em>, s'écrivent en concaténant :
    </p>

    <ol>
      <li>le nombre de colonnes désirées, de <strong>2 à 12</strong></li>
      <li>avec le type d'écran, c'est-à-dire <strong>tn, sm, md, lg, wd</strong>.</li>
    </ol>


    <!-- Examples -->
    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Exemples :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.grid-2tn</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>2 colonnes</strong> pour une résolution comprise <em>entre 480px & 576px</em> sur 80% de la largeur
      </li>
      <li>
        <pre class="valid-text">.fluid-5sm</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>5 colonnes</strong> pour une résolution comprise <em>entre 576px & 768px</em> en pleine largeur
      </li>
      <li>
        <pre class="valid-text">.grid-7md</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>7 colonnes</strong> pour une résolution comprise <em>entre 768px & 1024px</em> sur 80% de la largeur
      </li>
      <li>
        <pre class="valid-text">.fluid-10wd</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>10 colonnes</strong> pour une résolution <em>supérieure à 1366px</em> en pleine largeur
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Il est aussi possible de concaténer plusieurs grilles afin de définir tous les comportements attendus (sur chaque type d'écran) :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.grid-5sm-10lg</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>5 colonnes</strong> pour une résolution comprise <em>entre 576px & 1024px</em>,
        <br>puis <em>au-delà de 1024px</em>, <strong>10 colonnes</strong>,
        <br>le tout dans 80% de la largeur
      </li>
      <li>
        <pre class="valid-text">.fluid-4tn-8md-12wd</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>4 colonnes</strong> pour une résolution comprise <em>entre 480px & 768px</em>,
        <br>puis <strong>8 colonnes</strong> pour une résolution <em>entre 768px & 1366px</em>,
        <br>enfin <strong>12 colonnes</strong> <em>au-delà de 1366px</em>
        <br>le tout dans la totalité de la largeur
      </li>
      <li>
        <pre class="valid-text">.grid-3sm-6md-9lg-12wd</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>3 colonnes</strong> pour une résolution comprise entre <em>576px & 768px</em>,
        <br>puis <strong>6 colonnes</strong> pour une résolution <em>entre 768px & 1024px</em>,
        <br>ensuite <strong>9 colonnes</strong> <em>entre 1024px & 1366px</em>,
        <br>enfin <strong>12 colonnes</strong> <em>au-delà de 1366px</em>
        <br>le tout dans 80% de la largeur
      </li>
      <li>
        <pre class="valid-text">.fluid-2tn-4sm-6md-8lg-10wd</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>2 colonnes</strong> pour une résolution comprise <em>entre 480px & 576px</em>,
        <br>puis <strong>4 colonnes</strong> pour une résolution <em>entre 576px & 768px</em>,
        <br>ensuite <strong>6 colonnes</strong> <em>entre 768px & 1024px</em>,
        <br>après <strong>8 colonnes</strong> <em>entre 1024px & 1366px</em>,
        <br>et enfin <strong>10 colonnes</strong> <em>au-delà de 1366px</em>
        <br>le tout dans la totalité de la largeur
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> De plus, <strong>un type d'option spécifique au grid layout</strong> est disponible :
    </p>

    <pre class="valid-text">.gap</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> se définit sur l'élément parent pour insérer des gouttières entre les colonnes
    </p>


    <!-- ***** Grid Gap Part ***** -->
    <h5 class="special solid-rounder m-md">4.1 / Grid Gap</h5>


    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>5 classes de gouttières</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">gap-tn</span>"&gt;Grid-gap = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">gap-sm</span>"&gt;Grid-gap = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">gap-md</span>"&gt;Grid-gap = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">gap-lg</span>"&gt;Grid-gap = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">gap-wd</span>"&gt;Grid-gap = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>

  </section>



    <!-- *************************************** -->
    <!-- ***** Grid & Flex Options Section ***** -->
    <section>

      <h4 class="secondary solid-rounded m-md">5 / Grid & Flex Options</h4>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> De plus, <strong>3 types d'options communes à Grid & Flex</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.items</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> se définit sur l'élément parent pour modifier les alignements des éléments enfants
      </li>
      <li>
        <pre class="valid-text">.content</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> se définit sur l'élément parent pour modifier les alignements du contenu
      </li>
      <li>
        <pre class="valid-text">.self</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> se définit sur les éléments enfants pour modifier leurs alignements indépendamment
      </li>
    </ul>


    <!-- ***** Grid Items Part ***** -->
    <h5 class="special solid-rounder m-md">5.1 / Grid Items</h5>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>7 valeurs d'alignements</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre class="valid-text">stretch</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont étirés
      </li>
      <li>
        <pre class="valid-text">base</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés sur leur base
      </li>
      <li>
        <pre class="valid-text">center</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont centrés
      </li>
      <li>
        <pre class="valid-text">start</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés au début du conteneur
      </li>
      <li>
        <pre class="valid-text">end</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés à la fin du conteneur
      </li>
      <li>
        <pre class="valid-text">right</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés à droite
      </li>
      <li>
        <pre class="valid-text">left</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés à gauche
      </li>
    </ul>


    <!-- Examples -->
    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>Ces valeurs d'alignements</strong> sont disponibles pour chacune de 2 directions, ce qui donne 49 classes, exemples :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.items-stretch-base</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont étirés dans l'axe principal & alignés sur leur base dans l'axe secondaire
      </li>
      <li>
        <pre class="valid-text">.items-center-start</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont centrés dans l'axe principal & alignés au début du conteneur dans l'axe secondaire
      </li>
      <li>
        <pre class="valid-text">.items-right-end</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés à droite dans l'axe principal & alignés à la fin du conteneur dans l'axe secondaire
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <em>Lorsque les 2 valeurs sont identiques</em>, une seule est indiquée, exemple  :
    </p>
    <pre>.items-center</pre>


    <!-- ***** Grid Content Part ***** -->
    <h5 class="special solid-rounder m-md">5.2 / Grid Content</h5>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>10 valeurs d'alignements</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre class="valid-text">stretch</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est étiré
      </li>
      <li>
        <pre class="valid-text">base</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est aligné sur sa base
      </li>
      <li>
        <pre class="valid-text">center</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est centré
      </li>
      <li>
        <pre class="valid-text">start</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est aligné au début du conteneur
      </li>
      <li>
        <pre class="valid-text">end</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est aligné à la fin du conteneur
      </li>
      <li>
        <pre class="valid-text">right</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est aligné à droite
      </li>
      <li>
        <pre class="valid-text">left</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est aligné à gauche
      </li>
      <li>
        <pre class="valid-text">around</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est aligné d'un bord à l'autre du conteneur en laissant des espaces réguliers entre chaque élément, avec la moitié d'un espace régulier au niveau des bords
      </li>
      <li>
        <pre class="valid-text">between</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est aligné d'un bord à l'autre du conteneur en laissant des espaces réguliers entre chaque élément, sans espace au niveau des bords
      </li>
      <li>
        <pre class="valid-text">evenly</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le contenu est aligné d'un bord à l'autre du conteneur en laissant des espaces réguliers entre chaque élément, avec le même espace régulier au niveau des bords
      </li>
    </ul>


    <!-- Examples -->
    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>Ces valeurs d'alignements</strong> sont disponibles pour chacune de 2 directions, ce qui donne 100 classes, exemples :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.content-stretch-base</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont étirés dans l'axe principal & alignés sur leur base dans l'axe secondaire
      </li>
      <li>
        <pre class="valid-text">.content-center-start</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont centrés dans l'axe principal & alignés au début du conteneur dans l'axe secondaire
      </li>
      <li>
        <pre class="valid-text">.content-right-end</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés à droite dans l'axe principal & alignés à la fin du conteneur dans l'axe secondaire
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <em>Lorsque les 2 valeurs sont identiques</em>, une seule est indiquée, par exemple  :
    </p>
    <pre>.content-evenly</pre>


    <!-- ***** Grid Self Part ***** -->
    <h5 class="special solid-rounder m-md">5.3 / Grid Self</h5>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>7 valeurs d'alignements</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre class="valid-text">stretch</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont étirés
      </li>
      <li>
        <pre class="valid-text">base</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés sur leur base
      </li>
      <li>
        <pre class="valid-text">center</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont centrés
      </li>
      <li>
        <pre class="valid-text">start</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés au début du conteneur
      </li>
      <li>
        <pre class="valid-text">end</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés à la fin du conteneur
      </li>
      <li>
        <pre class="valid-text">right</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés à droite
      </li>
      <li>
        <pre class="valid-text">left</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> les éléments sont alignés à gauche
      </li>
    </ul>


    <!-- Examples -->
    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>Ces valeurs d'alignements</strong> sont disponibles pour chacune de 2 directions, ce qui donne 49 classes, exemples :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.self-stretch-base</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> l'élément est étiré dans l'axe principal & aligné sur sa base dans l'axe secondaire
      </li>
      <li>
        <pre class="valid-text">.self-center-start</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> l'éléments est centré dans l'axe principal & aligné au début du conteneur dans l'axe secondaire
      </li>
      <li>
        <pre class="valid-text">.self-right-end</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> l'élément est aligné à droite dans l'axe principal & aligné à la fin du conteneur dans l'axe secondaire
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <em>Lorsque les 2 valeurs sont identiques</em>, une seule est indiquée, par exemple  :
    </p>
    <pre>.self-center</pre>

  </section>
</section>
