<!-- *************************** -->
<!-- ***** Display Section ***** -->
<!-- *************************** -->


<section id="display">

  <h3 class="primary solid-slight m-lg">V - Display</h3>


  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>display</strong> sont réparties en 4 groupes :
  </p>

  <pre class="special-text">Container</pre>
  <p>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément d'une manière spécifique
  </p>

  <pre class="special-text">Fixed</pre>
  <p>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément
  </p>

  <pre class="special-text">Flex</pre>
  <p>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément de manière flexible
  </p>

  <pre class="special-text">Grid</pre>
  <p>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher des éléments dans une grille
  </p>


  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les <strong>codes sources</strong> sont disponibles ci-dessous...
  </p>

  <div class="btn-group">

    <a class="btn delete-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/variables/_display.var.scss" title="Voir les variables Display">Variables</a>

    <a class="btn valid-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/mixins/_display.mix.scss" title="Voir les mixins Display">Mixins</a>

    <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_display.scss" title="Voir les classes Display">Classes</a>
  </div>


  <!-- ***************************** -->
  <!-- ***** Container Section ***** -->
  <section>
    <h4 class="secondary solid-rounded m-md">1 / Container</h4>


    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>5 classes Container</strong> sont disponibles :
    </p>

    <pre class="valid-text">.none</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour cacher globalement un élément
    </p>

    <pre class="valid-text">.hide</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour cacher visuellement un élément
    </p>

    <pre class="valid-text">.container</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un conteneur de 80% centré
    </p>

    <pre class="valid-text">.block</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément en tant que bloc
    </p>

    <pre class="valid-text">.in-block</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément en tant bloc en ligne
    </p>
  </section>


  <!-- ************************* -->
  <!-- ***** Fixed Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">2 / Fixed</h4>


    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>12 classes Fixed</strong> sont disponibles :
    </p>

    <pre class="valid-text">.fixed-top / .fixed-right / .fixed-bottom / .fixed-left</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément dans l'une des 4 principales directions
    </p>

    <pre class="valid-text">.fixed-ct / .fixed-cr / .fixed-cb / .fixed-cl</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément au centre de l'une des 4 directions
    </p>

    <pre class="valid-text">.fixed-tr / .fixed-br / .fixed-bl / .fixed-tl</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément dans l'un des 4 angles
    </p>
  </section>


  <!-- ************************ -->
  <!-- ***** Flex Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">3 / Flex</h4>


    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>3 types de classes Flex</strong> sont disponibles :
    </p>

    <pre class="valid-text">.col</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour créer une liste en colonne avec flexbox
    </p>

    <pre class="valid-text">.row</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour créer une liste en rangée avec flexbox
    </p>

    <pre class="valid-text">.flex</pre>
    <p>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour créer une grille avec flexbox
    </p>


    <!-- ***** Col Section ***** -->
    <section>
      <h5 class="special solid-rounder m-md">3.1 / La classe Col</h5>


      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> La classe <strong>col</strong> se composent de 2 parties :
      </p>
      <pre class="valid-text">col-options</pre>


      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Ces options sont au nombre de 3, sont facultatives & peuvent être concaténées ensemble dans une certaine mesure :
      </p>

      <pre class="valid-text">reverse</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour inverser l'ordre des éléments flexibles
      </p>

      <pre class="valid-text">nowrap</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour contraindre les éléments flexibles sur une seule colonne
      </p>

      <pre class="valid-text">inverse</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour inverser l'ordre des colonnes
      </p>


      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> On peut donc écrire la classe <strong>col</strong> de différentes manières :
      </p>

      <pre class="valid-text">.col</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> sans option
      </p>

      <pre class="valid-text">.col-option1</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> avec l'une des 3 options
      </p>

      <pre class="valid-text">.col-option1-option2</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> avec 2 des 3 options (nowrap & inverse ne sont pas associables)
      </p>
    </section>


    <!-- ***** Row Section ***** -->
    <section>
      <h5 class="special solid-rounder m-md">3.2 / La classe Row</h5>


      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> La classe <strong>row</strong> se composent de 2 parties :
      </p>
      <pre class="valid-text">row-options</pre>


      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Ces options sont au nombre de 3, sont facultatives & peuvent être concaténées ensemble dans une certaine mesure (elles sont les mêmes que pour la classe col) :
      </p>

      <pre class="valid-text">reverse</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour inverser l'ordre des éléments flexibles
      </p>

      <pre class="valid-text">nowrap</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour contraindre les éléments flexibles sur une seule ligne
      </p>

      <pre class="valid-text">inverse</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour inverser l'ordre des lignes
      </p>


      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> On peut donc écrire la classe <strong>row</strong> de différentes manières (tel que la classe col) :
      </p>

      <pre class="valid-text">.row</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> sans option
      </p>

      <pre class="valid-text">.row-option1</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> avec l'une des 3 options
      </p>

      <pre class="valid-text">.row-option1-option2</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> avec 2 des 3 options (nowrap & inverse ne sont pas associables)
      </p>
    </section>


    <!-- ***** Flex Section ***** -->
    <section>
      <h5 class="special solid-rounder m-md">3.3 / Les classes Flex</h5>


      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>flex</strong> s'adaptent aux différentes tailles d'écrans ainsi qu'aux nombres de colonnes que l'on désire.
      </p>


      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>flex</strong> se composent de 2 parties :
      </p>
      <pre class="valid-text">flex-config</pre>

      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Mais seul <strong>flex est obligatoire</strong> ; dans ce cas uniquement, son comportement ne sera pas lié aux tailles d'écrans ni au nombre de colonnes.
      </p>

      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Dans tous les autres cas, ces <strong>configs</strong> s'écrivent en concaténant :
        <ol>
          <li>le nombre de colonnes désirées, de <strong>2 à 12</strong></li>
          <li>avec le type d'écran, c'est-à-dire <strong>tn, sm, md, lg, wd</strong>.</li>
        </ol>
      </p>


      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Exemples :
      </p>

      <pre class="valid-text">.flex-2tn</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>2 colonnes</strong> pour une résolution comprise <em>entre 480px & 576px</em>
      </p>

      <pre class="valid-text">.flex-5sm</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>5 colonnes</strong> pour une résolution comprise <em>entre 576px & 768px</em>
      </p>

      <pre class="valid-text">.flex-7md</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>7 colonnes</strong> pour une résolution comprise <em>entre 768px & 1024px</em>
      </p>

      <pre class="valid-text">.flex-10wd</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>10 colonnes</strong> pour une résolution <em>supérieure à 1366px</em>
      </p>


      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Il est aussi possible de concaténer plusieurs options afin de définir tous les comportements attendus (sur chaque type d'écran) :
      </p>

      <pre class="valid-text">.flex-5sm-10lg</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>5 colonnes</strong> pour une résolution comprise <em>entre 576px & 1024px</em>,
        <br>puis <em>au-delà de 1024px</em>, <strong>10 colonnes</strong>
      </p>

      <pre class="valid-text">.flex-4tn-8md-12wd</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>4 colonnes</strong> pour une résolution comprise <em>entre 480px & 768px</em>,
        <br>puis <strong>8 colonnes</strong> pour une résolution <em>entre 768px & 1366px</em>,
        <br>enfin <strong>12 colonnes</strong> <em>au-delà de 1366px</em>
      </p>

      <pre class="valid-text">.flex-3sm-6md-9lg-12wd</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>3 colonnes</strong> pour une résolution comprise entre <em>576px & 768px</em>,
        <br>puis <strong>6 colonnes</strong> pour une résolution <em>entre 768px & 1024px</em>,
        <br>ensuite <strong>9 colonnes</strong> <em>entre 1024px & 1366px</em>,
        <br>enfin <strong>12 colonnes</strong> <em>au-delà de 1366px</em>
      </p>

      <pre class="valid-text">.flex-2tn-4sm-6md-8lg-10wd</pre>
      <p>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> <strong>2 colonnes</strong> pour une résolution comprise <em>entre 480px & 576px</em>,
        <br>puis <strong>4 colonnes</strong> pour une résolution <em>entre 576px & 768px</em>,
        <br>ensuite <strong>6 colonnes</strong> <em>entre 768px & 1024px</em>,
        <br>après <strong>8 colonnes</strong> <em>entre 1024px & 1366px</em>,
        <br>et enfin <strong>10 colonnes</strong> <em>au-delà de 1366px</em>
      </p>


      <p>
        <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> De plus, <strong>un type d'options</strong> est disponible :

        <pre class="valid-text">flexible</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour modifier les dimensions d'un élément
      </p>

      <p>
        <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>9 classes flexible</strong> sont disponibles :
      </p>

      <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-auto</span>"&gt;Flex = 1 1 auto&lt;/<span class="delete-text">div</span>&gt;</pre>

      <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-grow</span>"&gt;Flex = 1 0 auto&lt;/<span class="delete-text">div</span>&gt;</pre>

      <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-shrink</span>"&gt;Flex = 0 1 auto&lt;/<span class="delete-text">div</span>&gt;</pre>

      <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-none</span>"&gt;Flex = 0 0 auto&lt;/<span class="delete-text">div</span>&gt;</pre>

      <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-double</span>"&gt;Flex = 2 0 auto&lt;/<span class="delete-text">div</span>&gt;</pre>

      <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-half</span>"&gt;Flex = 0 2 auto&lt;/<span class="delete-text">div</span>&gt;</pre>

      <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-third</span>"&gt;Flex = 0 3 auto&lt;/<span class="delete-text">div</span>&gt;</pre>

      <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-quarter</span>"&gt;Flex = 0 4 auto&lt;/<span class="delete-text">div</span>&gt;</pre>

      <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">flexible-all</span>"&gt;Flex = 1 1 100%&lt;/<span class="delete-text">div</span>&gt;</pre>

    </section>
  </section>


  <!-- ************************ -->
  <!-- ***** Grid Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">4 / Grid</h4>

    <p class="intro warning-sea solid-rounded">
      <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i>
      En construction !
      <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i><br>
    </p>

  </section>

</section>
