<!-- *************************** -->
<!-- ***** Display Section ***** -->
<!-- *************************** -->


<section>
  <h3 class="primary-sea solid-rounded mt-wd mb-lg">V - Display</h3>

  <p><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>display</strong> sont réparties en 4 groupes :

    <pre class="special-text">Container</pre>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément d'une manière spécifique
    <pre class="special-text">Fixed</pre>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément
    <pre class="special-text">Flex</pre>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément de manière flexible
    <pre class="special-text">Grid</pre>
    <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher des éléments dans une grille
  </p>

  <div class="btn-group">
    <a class="btn delete-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/variables/_display.var.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les variables Display">Variables</a>

    <a class="btn valid-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/mixins/_display.mix.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les mixins Display">Mixins</a>

    <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_display.scss" rel="noopener" rel="noreferrer" target="_blank" title="Voir les classes Display">Classes</a>
  </div>

  <section>
    <h4 class="secondary-sea solid-rounder-sm">1 / Container</h4>

    <p><i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>5 classes Container</strong> sont disponibles :
      <pre class="valid-text">.none</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour cacher globalement un élément

      <pre class="valid-text">.hide</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour cacher visuellement un élément

      <pre class="valid-text">.container</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un conteneur de 80% centré

      <pre class="valid-text">.block</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément en tant que bloc

      <pre class="valid-text">.in-block</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour afficher un élément en tant bloc en ligne

    </p>


  </section>

  <section>
    <h4 class="secondary-sea solid-rounder-sm">2 / Fixed</h4>

    <p><i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>12 classes Fixed</strong> sont disponibles :
      <pre class="valid-text">.fixed-top / .fixed-right / .fixed-bottom / .fixed-left</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément dans l'une des 4 principales directions

      <pre class="valid-text">.fixed-ct / .fixed-cr / .fixed-cb / .fixed-cl</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément au centre de l'une des 4 directions

      <pre class="valid-text">.fixed-tr / .fixed-br / .fixed-bl / .fixed-tl</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour fixer un élément dans l'un des 4 angles

    </p>
  </section>

  <section>
    <h4 class="secondary-sea solid-rounder-sm">3 / Flex</h4>

  </section>

  <section>
    <h4 class="secondary-sea solid-rounder-sm">4 / Grid</h4>

  </section>

</section>
