<!-- ************************** -->
<!-- ***** Helper Section ***** -->
<!-- ************************** -->


<section id="helper">

  <h3 class="primary solid-slight m-lg">X - Helper</h3>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>helper</strong> sont constituées de <strong>8 groupes</strong> :
  </p>

  <ul>
    <li>
      <pre class="special-text">Width</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour modifier la largeur d'un élément
    </li>
    <li>
      <pre class="special-text">Height</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour modifier la hauteur d'un élément
    </li>
    <li>
      <pre class="special-text">Margin</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour modifier la marge extérieure d'un élément
    </li>
    <li>
      <pre class="special-text">Padding</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour modifier la marge intérieure d'un élément
    </li>
    <li>
      <pre class="special-text">Text Align</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour modifier l'alignement d'un texte
    </li>
    <li>
      <pre class="special-text">Font</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour modifier le style ou la graisse d'un texte
    </li>
    <li>
      <pre class="special-text">Text Decoration</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour modifier la décoration d'un texte
    </li>
    <li>
      <pre class="special-text">Cursor</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> pour modifier le curseur de la souris
    </li>
  </ul>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les <strong>codes sources</strong> sont disponibles ci-dessous...
  </p>

  <ul class="btn-group">
    <li>
      <a class="btn delete-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/variables/_helper.var.scss" title="Voir les variables Helper">Variables</a>
    </li>
    <li>
      <a class="btn valid-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/mixins/_helper.mix.scss" title="Voir les mixins Helper">Mixins</a>
    </li>
    <li>
      <a class="btn info-outline solid-rounder inset-blur" href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_helper.scss" title="Voir les classes Helper">Classes</a>
    </li>
  </ul>


  <!-- ************************* -->
  <!-- ***** Width Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">1 / Width</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Width</strong> gèrent <em>3 propriétés CSS</em> :
    </p>

    <ul class="btn-group">
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/width" title="Voir la documentation sur MDN">width</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/min-width" title="Voir la documentation sur MDN">min-width</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/max-width" title="Voir la documentation sur MDN">max-width</a>
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Ces classes peuvent affecter :
    </p>

    <ol>
      <li>soit l'élément lui-même lorsque l'on appelle une classe dont le préfixe est :
        <pre class="valid-text">.w</pre>
        <pre class="valid-text">.min-w</pre>
        <pre class="valid-text">.max-w</pre>
      </li>
      <li class="mt-md">soit les éléments enfants du parent lorsque l'on appelle une classe dont le préfixe est :
        <pre class="valid-text">.gw</pre>
        <pre class="valid-text">.min-gw</pre>
        <pre class="valid-text">.max-gw</pre>
      </li>
    </ol>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> L'appel d'une <strong>classe width</strong> se fait en concaténant l'<em>un des préfixes précédents avec en suffixe la valeur nécessaire</em>.
    </p>


    <!-- ***** Width Part ***** -->
    <h5 class="special solid-rounder m-md">1.1 / Width</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>6 classes de largeurs</strong> sont disponibles (<i>+ 6 classes globales de largeurs</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">w25</span>"&gt;Width = 25%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">w33</span>"&gt;Width = 33%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">w50</span>"&gt;Width = 50%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">w66</span>"&gt;Width = 66%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">w75</span>"&gt;Width = 75%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">w100</span>"&gt;Width = 100%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Min-Width Part ***** -->
    <h5 class="special solid-rounder m-md">1.2 / Min-Width</h5>


    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>6 classes de largeurs minimales</strong> sont disponibles (<i>+ 6 classes globales de largeurs minimales</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-w25</span>"&gt;Min-width = 25%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-w33</span>"&gt;Min-width = 33%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-w50</span>"&gt;Min-width = 50%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-w66</span>"&gt;Min-width = 66%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-w75</span>"&gt;Min-width = 75%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-w100</span>"&gt;Min-width = 100%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Max-Width Part ***** -->
    <h5 class="special solid-rounder m-md">1.3 / Max-Width</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>6 classes de largeurs maximales</strong> sont disponibles (<i>+ 6 classes globales de largeurs maximales</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-w25</span>"&gt;Max-width = 25%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-w33</span>"&gt;Max-width = 33%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-w50</span>"&gt;Max-width = 50%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-w66</span>"&gt;Max-width = 66%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-w75</span>"&gt;Max-width = 75%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-w100</span>"&gt;Max-width = 100%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>

  </section>


  <!-- ************************** -->
  <!-- ***** Height Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">2 / Height</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Height</strong> gèrent <em>3 propriétés CSS</em> :
    </p>

    <ul class="btn-group">
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/height" title="Voir la documentation sur MDN">height</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/min-height" title="Voir la documentation sur MDN">min-height</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/max-height" title="Voir la documentation sur MDN">max-height</a>
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Ces classes peuvent affecter :
    </p>

    <ol>
      <li>soit l'élément lui-même lorsque l'on appelle une classe dont le préfixe est :
        <pre class="valid-text">.h</pre>
        <pre class="valid-text">.min-h</pre>
        <pre class="valid-text">.max-h</pre>
      </li>
      <li class="mt-md">soit les éléments enfants du parent lorsque l'on appelle une classe dont le préfixe est :
        <pre class="valid-text">.gh</pre>
        <pre class="valid-text">.min-gh</pre>
        <pre class="valid-text">.max-gh</pre>
      </li>
    </ol>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> L'appel d'une <strong>classe height</strong> se fait en concaténant l'<em>un des préfixes précédents avec en suffixe la valeur nécessaire</em>.
    </p>


    <!-- ***** Height Part ***** -->
    <h5 class="special solid-rounder m-md">1.1 / Height</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>6 classes de hauteurs</strong> sont disponibles (<i>+ 6 classes globales de hauteurs</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">h25</span>"&gt;Height = 25%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">h33</span>"&gt;Height = 33%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">h50</span>"&gt;Height = 50%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">h66</span>"&gt;Height = 66%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">h75</span>"&gt;Height = 75%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">h100</span>"&gt;Height = 100%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Min-Height Part ***** -->
    <h5 class="special solid-rounder m-md">1.2 / Min-Height</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>6 classes de hauteurs minimales</strong> sont disponibles (<i>+ 6 classes globales de hauteurs minimales</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-h25</span>"&gt;Min-height = 25%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-h33</span>"&gt;Min-height = 33%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-h50</span>"&gt;Min-height = 50%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-h66</span>"&gt;Min-height = 66%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-h75</span>"&gt;Min-height = 75%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">min-h100</span>"&gt;Min-height = 100%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Max-Height Part ***** -->
    <h5 class="special solid-rounder m-md">1.3 / Max-Height</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>6 classes de hauteurs maximales</strong> sont disponibles (<i>+ 6 classes globales de hauteurs maximales</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-h25</span>"&gt;Max-height = 25%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-h33</span>"&gt;Max-height = 33%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-h50</span>"&gt;Max-height = 50%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-h66</span>"&gt;Max-height = 66%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-h75</span>"&gt;Max-height = 75%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">max-h100</span>"&gt;Max-height = 100%&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>

  </section>


  <!-- ************************** -->
  <!-- ***** Margin Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">3 / Margin</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Margin</strong> gèrent <em>5 propriétés CSS</em> :
    </p>

    <ul class="btn-group">
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/margin" title="Voir la documentation sur MDN">margin</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/margin-top" title="Voir la documentation sur MDN">margin-top</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/margin-right" title="Voir la documentation sur MDN">margin-right</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/margin-bottom" title="Voir la documentation sur MDN">margin-bottom</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/margin-left" title="Voir la documentation sur MDN">margin-left</a>
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Ces classes peuvent affecter :
    </p>

    <ol>
      <li>soit l'élément lui-même lorsque l'on appelle une classe dont le préfixe est :
        <pre class="valid-text">.m-</pre>
        <pre class="valid-text">.mt-</pre>
        <pre class="valid-text">.mr-</pre>
        <pre class="valid-text">.mb-</pre>
        <pre class="valid-text">.ml-</pre>
      </li>
      <li class="mt-md">soit les éléments enfants du parent lorsque l'on appelle une classe dont le préfixe est :
        <pre class="valid-text">.gm-</pre>
        <pre class="valid-text">.gmt-</pre>
        <pre class="valid-text">.gmr-</pre>
        <pre class="valid-text">.gmb-</pre>
        <pre class="valid-text">.gml-</pre>
      </li>
    </ol>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> L'appel d'une <strong>classe margin</strong> se fait en concaténant l'<em>un des préfixes précédents avec en suffixe la valeur nécessaire</em>.
    </p>


    <!-- ***** Margin Part ***** -->
    <h5 class="special solid-rounder m-md">1.1 / Margin</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges extérieures</strong> sont disponibles (<i>+ 7 classes globales de marges extérieures</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">m-auto</span>"&gt;Margin = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">m-0</span>"&gt;Margin = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">m-tn</span>"&gt;Margin = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">m-sm</span>"&gt;Margin = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">m-md</span>"&gt;Margin = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">m-lg</span>"&gt;Margin = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">m-wd</span>"&gt;Margin = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Margin-Top Part ***** -->
    <h5 class="special solid-rounder m-md">1.2 / Margin-Top</h5>


    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges extérieures hautes</strong> sont disponibles (<i>+ 7 classes globales de marges extérieures hautes</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mt-auto</span>"&gt;Margin-top = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mt-0</span>"&gt;Margin-top = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mt-tn</span>"&gt;Margin-top = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mt-sm</span>"&gt;Margin-top = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mt-md</span>"&gt;Margin-top = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mt-lg</span>"&gt;Margin-top = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mt-wd</span>"&gt;Margin-top = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Margin-Right Part ***** -->
    <h5 class="special solid-rounder m-md">1.3 / Margin-Right</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges extérieures droites</strong> sont disponibles (<i>+ 7 classes globales de marges extérieures droites</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mr-auto</span>"&gt;Margin-right = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mr-0</span>"&gt;Margin-right = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mr-tn</span>"&gt;Margin-right = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mr-sm</span>"&gt;Margin-right = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mr-md</span>"&gt;Margin-right = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mr-lg</span>"&gt;Margin-right = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mr-wd</span>"&gt;Margin-right = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Margin-Bottom Part ***** -->
    <h5 class="special solid-rounder m-md">1.4 / Margin-Bottom</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges extérieures basses</strong> sont disponibles (<i>+ 7 classes globales de marges extérieures basses</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mb-auto</span>"&gt;Margin-bottom = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mb-0</span>"&gt;Margin-bottom = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mb-tn</span>"&gt;Margin-bottom = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mb-sm</span>"&gt;Margin-bottom = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mb-md</span>"&gt;Margin-bottom = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mb-lg</span>"&gt;Margin-bottom = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">mb-wd</span>"&gt;Margin-bottom = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Margin-Left Part ***** -->
    <h5 class="special solid-rounder m-md">1.5 / Margin-Left</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges extérieures gauches</strong> sont disponibles (<i>+ 7 classes globales de marges extérieures gauches</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">ml-auto</span>"&gt;Margin-left = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">ml-0</span>"&gt;Margin-left = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">ml-tn</span>"&gt;Margin-left = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">ml-sm</span>"&gt;Margin-left = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">ml-md</span>"&gt;Margin-left = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">ml-lg</span>"&gt;Margin-left = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">ml-wd</span>"&gt;Margin-left = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>

  </section>


  <!-- *************************** -->
  <!-- ***** Padding Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">4 / Padding</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Padding</strong> gèrent <em>5 propriétés CSS</em> :
    </p>

    <ul class="btn-group">
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/padding" title="Voir la documentation sur MDN">padding</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/padding-top" title="Voir la documentation sur MDN">padding-top</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/padding-right" title="Voir la documentation sur MDN">padding-right</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/padding-bottom" title="Voir la documentation sur MDN">padding-bottom</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/padding-left" title="Voir la documentation sur MDN">padding-left</a>
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Ces classes peuvent affecter :
    </p>

    <ol>
      <li>soit l'élément lui-même lorsque l'on appelle une classe dont le préfixe est :
        <pre class="valid-text">.p-</pre>
        <pre class="valid-text">.pt-</pre>
        <pre class="valid-text">.pr-</pre>
        <pre class="valid-text">.pb-</pre>
        <pre class="valid-text">.pl-</pre>
      </li>
      <li class="mt-md">soit les éléments enfants du parent lorsque l'on appelle une classe dont le préfixe est :
        <pre class="valid-text">.gp-</pre>
        <pre class="valid-text">.gpt-</pre>
        <pre class="valid-text">.gpr-</pre>
        <pre class="valid-text">.gpb-</pre>
        <pre class="valid-text">.gpl-</pre>
      </li>
    </ol>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> L'appel d'une <strong>classe padding</strong> se fait en concaténant l'<em>un des préfixes précédents avec en suffixe la valeur nécessaire</em>.
    </p>


    <!-- ***** Padding Part ***** -->
    <h5 class="special solid-rounder m-md">1.1 / Padding</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges intérieures</strong> sont disponibles (<i>+ 7 classes globales de marges intérieures</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">p-auto</span>"&gt;Padding = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">p-0</span>"&gt;Padding = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">p-tn</span>"&gt;Padding = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">p-sm</span>"&gt;Padding = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">p-md</span>"&gt;Padding = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">p-lg</span>"&gt;Padding = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">p-wd</span>"&gt;Padding = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Padding-Top Part ***** -->
    <h5 class="special solid-rounder m-md">1.2 / Padding-Top</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges intérieures hautes</strong> sont disponibles (<i>+ 7 classes globales de marges intérieures hautes</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pt-auto</span>"&gt;Padding-top = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pt-0</span>"&gt;Padding-top = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pt-tn</span>"&gt;Padding-top = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pt-sm</span>"&gt;Padding-top = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pt-md</span>"&gt;Padding-top = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pt-lg</span>"&gt;Padding-top = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pt-wd</span>"&gt;Padding-top = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Padding-Right Part ***** -->
    <h5 class="special solid-rounder m-md">1.3 / Padding-Right</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges intérieures droites</strong> sont disponibles (<i>+ 7 classes globales de marges intérieures droites</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pr-auto</span>"&gt;Padding-right = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pr-0</span>"&gt;Padding-right = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pr-tn</span>"&gt;Padding-right = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pr-sm</span>"&gt;Padding-right = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pr-md</span>"&gt;Padding-right = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pr-lg</span>"&gt;Padding-right = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pr-wd</span>"&gt;Padding-right = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Padding-Bottom Part ***** -->
    <h5 class="special solid-rounder m-md">1.4 / Padding-Bottom</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges intérieures basses</strong> sont disponibles (<i>+ 7 classes globales de marges intérieures basses</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pb-auto</span>"&gt;Padding-bottom = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pb-0</span>"&gt;Padding-bottom = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pb-tn</span>"&gt;Padding-bottom = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pb-sm</span>"&gt;Padding-bottom = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pb-md</span>"&gt;Padding-bottom = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pb-lg</span>"&gt;Padding-bottom = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pb-wd</span>"&gt;Padding-bottom = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Padding-Left Part ***** -->
    <h5 class="special solid-rounder m-md">1.5 / Padding-Left</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de marges intérieures gauches</strong> sont disponibles (<i>+ 7 classes globales de marges intérieures gauches</i>) :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pl-auto</span>"&gt;Padding-left = auto&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pl-0</span>"&gt;Padding-left = 0&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pl-tn</span>"&gt;Padding-left = .5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pl-sm</span>"&gt;Padding-left = 1rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pl-md</span>"&gt;Padding-left = 2rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pl-lg</span>"&gt;Padding-left = 5rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">pl-wd</span>"&gt;Padding-left = 10rem&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>

  </section>


  <!-- ****************************** -->
  <!-- ***** Text Align Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">5 / Text Align</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Text Align</strong> gèrent <em>une seule propriété CSS</em> :
    </p>

    <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/text-align" title="Voir la documentation sur MDN">text-align</a>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>4 classes d'alignement horizontal de texte</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">center</span>"&gt;Text-align = center&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">justify</span>"&gt;Text-align = justify&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">right</span>"&gt;Text-align = right&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">left</span>"&gt;Text-align = left&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>

  </section>


  <!-- ************************ -->
  <!-- ***** Font Section ***** -->
  <section>
    <h4 class="secondary solid-rounded m-md">6 / Font</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Font</strong> gèrent <em>2 propriétés CSS</em> :
    </p>

    <ul class="btn-group">
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/font-style" title="Voir la documentation sur MDN">font-style</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/font-weight" title="Voir la documentation sur MDN">font-weight</a>
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>3 classes de modification des polices de caractère</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">normal</span>"&gt;Font-style = normal & Font-weight = normal&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">italic</span>"&gt;Font-style = italic&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">bold</span>"&gt;Font-weight = bold&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>

  </section>


  <!-- *********************************** -->
  <!-- ***** Text Decoration Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">7 / Text Decoration</h4>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Text-decoration</strong> se composent de 2 parties :
    </p>
    <pre class="valid-text">line-style</pre>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Ces 2 parties gèrent <em>2 propriétés CSS</em> :
    </p>

    <ul class="btn-group">
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/text-decoration-line" title="Voir la documentation sur MDN">text-decoration-line</a>
      </li>
      <li>
        <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/text-decoration-style" title="Voir la documentation sur MDN">text-decoration-style</a>
      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Mais seul <strong>line est obligatoire</strong> ; par défaut, la valeur de <em>style est solid</em>.
    </p>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> On peut donc écrire une classe <strong>text-decoration</strong> de 2 manières :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.line</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> le style vaudra alors solid (3 classes)
      </li>
      <li>
        <pre class="valid-text">.line-style</pre>
        <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> chaque valeur est précisée (12 classes)

      </li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Une classe supplémentaire est disponible : <strong class="valid-text">no-deco</strong>, dont la valeur de <em class="info-text">text-decoration</em> est <em class="delete-text">none</em>
    </p>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Exemples :
    </p>

    <ul>
      <li>
        <pre class="valid-text">.under</pre>
      </li>
      <li>
        <pre class="valid-text">.over-dashed</pre>
      </li>
      <li>
        <pre class="valid-text">.throught-wavy</pre>
      </li>
      <li>
        <pre class="valid-text">.no-deco</pre>
      </li>
    </ul>


    <!-- ***** Text Decoration Line Part ***** -->
    <h5 class="special solid-rounder m-md">1.1 / Text Decoration Line</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>3 préfixes</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">under</span>"&gt;Text-decoration-line = underline&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">over</span>"&gt;Text-decoration-line = overline&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">throught</span>"&gt;Text-decoration-line = line-throught&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>


    <!-- ***** Text Decoration Style Part ***** -->
    <h5 class="special solid-rounder m-md">1.2 / Text Decoration Style</h5>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>5 suffixes</strong> sont disponibles :
    </p>

    <ul>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">solid</span>"&gt;Text-decoration-style = solid&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">double</span>"&gt;Text-decoration-style = double&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">dotted</span>"&gt;Text-decoration-style = dotted&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">dashed</span>"&gt;Text-decoration-style = dashed&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
      <li>
        <pre>&lt;<span class="delete-text">div</span> <span class="info-text">class</span>="<span class="valid-text">wavy</span>"&gt;Text-decoration-style = wavy&lt;/<span class="delete-text">div</span>&gt;</pre>
      </li>
    </ul>

  </section>


  <!-- ************************** -->
  <!-- ***** Cursor Section ***** -->
  <section>

    <h4 class="secondary solid-rounded m-md">8 / Cursor</h4>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes du groupe <strong>Cursor</strong> peuvent affecter <em>une seule propriété CSS</em> :
    </p>

    <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/cursor" title="Voir la documentation sur MDN">cursor</a>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Ces classes affectent <em>l'élément lui-même, tous ses enfants directs, ainsi que tous les enfants directs de ces derniers</em>.
    </p>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>7 classes de pointeurs</strong> sont disponibles (<i>survolez pour voir le curseur changer</i>) :
    </p>

    <ul class="gw50 gmt-md gmb-md gmr-auto gml-auto">
      <li class="secondary solid-sm cell">.cell</li>
      <li class="secondary solid-sm crosshair">.crosshair</li>
      <li class="secondary solid-sm help">.help</li>
      <li class="secondary solid-sm move">.move</li>
      <li class="secondary solid-sm forbidden">.forbidden</li>
      <li class="secondary solid-sm pointer">.pointer</li>
      <li class="secondary solid-sm text">.text</li>
    </ul>

  </section>
</section>
