<!-- ************************** -->
<!-- ***** Shadow Section ***** -->
<!-- ************************** -->


<section id="shadow">

  <h3 class="primary solid-slight m-lg">VII - Shadow</h3>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les classes <strong>shadow</strong> se composent de 3 parties :
  </p>
  <pre class="valid-text">type-direction-width</pre>

  <p>
    <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Ces 3 parties gèrent <em>2 propriétés CSS</em> :
  </p>

  <ul class="btn-group">
    <li>
      <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/box-shadow" title="Voir la documentation sur MDN">box-shadow</a>
    </li>
    <li>
      <a class="btn info-dark outset-slight inset-blur-lg" href="https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow" title="Voir la documentation sur MDN">text-shadow</a>
    </li>
  </ul>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Mais <em>seul le type est obligatoire</em>, la valeur de direction par défaut est <strong>multiple</strong> & celle de width est <strong>md</strong>.
  </p>

  <p>
    <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> On peut donc écrire une classe de <strong>Shadow</strong> de 4 manières :
  </p>

  <ul>
    <li>
      <pre class="valid-text">.type</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> la direction est alors multiple & la width vaudra la valeur md (5 classes)
    </li>
    <li>
      <pre class="valid-text">.type-width</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> la direction est alors multiple (10 classes)
    </li>
    <li>
      <pre class="valid-text">.type-direction</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> la width vaudra alors md (32 classes)
    </li>
    <li>
      <pre class="valid-text">.type-direction-width</pre>
      <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i> chaque valeur est précisée (64 classes)
    </li>
  </ul>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Ce qui donne <strong>111 combinaisons/classes d'ombres</strong> !
  </p>

  <p>
    <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> Exemples :
  </p>

  <ul>
    <li>
      <pre class="valid-text">.shadow-br</pre>
    </li>
    <li>
      <pre class="valid-text">.text-shadow-br</pre>
    </li>
    <li>
      <pre class="valid-text">.inset-blur-lg</pre>
    </li>
    <li>
      <pre class="valid-text">.spread-sm</pre>
    </li>
  </ul>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Les <strong>codes sources</strong> sont disponibles ci-dessous...
  </p>

  <ul class="btn-group">
    <li>
      <a class="btn delete-outline solid-rounder inset-blur"  href="https://github.com/philippebeck/sam.scss/blob/master/scss/variables/_shadow.var.scss" title="Voir les variables Shadow">Variables</a>
    </li>
    <li>
      <a class="btn valid-outline solid-rounder inset-blur"   href="https://github.com/philippebeck/sam.scss/blob/master/scss/mixins/_shadow.mix.scss"    title="Voir les mixins Shadow">Mixins</a>
    </li>
    <li>
      <a class="btn info-outline solid-rounder inset-blur"    href="https://github.com/philippebeck/sam.scss/blob/master/scss/main/_shadow.scss"          title="Voir les classes Shadow">Classes</a>
    </li>
  </ul>

  <p>
    <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> De plus, les classes <strong>shadow</strong> peuvent être <em>affectées aux parents des balises th & td</em>...
  </p>


  <!-- ******************************* -->
  <!-- ***** Shadow Type Section ***** -->
  <section class="col items-center">

    <h4 class="secondary solid-rounded m-md">1 / Shadow Type</h4>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>Sam</strong> propose 8 types d'ombres.
    </p>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> 6 types d'ombres de <strong>boites</strong> sont disponibles :
    </p>

    <ul class="row special solid-rounder content-center gm-md gp-md">
      <li class="valid solid shadow-br"        title="Des ombres normales sur des éléments block">shadow</li>
      <li class="valid solid blur"             title="Des ombres diffuses sur des éléments block">blur</li>
      <li class="valid solid spread"           title="Des ombres diffuses étalées sur des éléments block">spread</li>
      <li class="valid solid inset-shadow-br"  title="Des ombres normales à l'intérieur des éléments block">inset-shadow</li>
      <li class="valid solid inset-blur"       title="Des ombres diffuses à l'intérieur des éléments block">inset-blur</li>
      <li class="valid solid inset-spread"     title="Des ombres diffuses étalées à l'intérieur des éléments block">inset-spread</li>
    </ul>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> 2 types d'ombres de <strong>texte</strong> sont disponibles :
    </p>

    <ul class="row special solid-rounder content-center gm-md gp-md">
      <li class="text-shadow-br"  title="Des ombres normales sur du texte">text-shadow</li>
      <li class="text-blur-br"    title="Des ombres diffuses sur du texte">text-blur</li>
    </ul>

  </section>


  <!-- ************************************ -->
  <!-- ***** Shadow Direction Section ***** -->
  <section class="col items-center">

    <h4 class="secondary solid-rounded m-md">2 / Shadow Direction</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>4 directions</strong> d'ombres sont disponibles :
    </p>

    <ul class="row special solid-rounder content-center gm-md gp-md">
      <li class="valid solid shadow-tr" title="Les ombres en haut à droite">tr</li>
      <li class="valid solid shadow-br" title="Les ombres en bas à droite">br</li>
      <li class="valid solid shadow-bl" title="Les ombres en bas à gauche">bl</li>
      <li class="valid solid shadow-tl" title="Les ombres en haut à gauche">tl</li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Une <strong>5e direction</strong> est disponible, lorsque l'ombre est portée dans <em>toutes les directions</em>.
    </p>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> Mais cela ne fonctionne <em>que pour les classes blur & spread</em> : pour cela, il suffit d'omettre la direction.
    </p>

  </section>


  <!-- ******************************** -->
  <!-- ***** Shadow Width Section ***** -->
  <section class="col items-center">

    <h4 class="secondary solid-rounded m-md">3 / Shadow Width</h4>

    <p>
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i> <strong>3 widths</strong> d'ombres sont disponibles :
    </p>

    <ul class="row special solid-rounder content-center gm-md gp-md">
      <li class="valid solid shadow-br-sm" title="Les ombres de petites tailles">sm</li>
      <li class="valid solid shadow-br"    title="Les ombres de tailles moyennes">(md)</li>
      <li class="valid solid shadow-br-lg" title="Les ombres de grandes tailles">lg</li>
    </ul>

    <p>
      <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <strong>md</strong> est la valeur des classes Shadow ne spécifiant pas le width, elle est donc la valeur par défaut & <em>n'est disponible qu'en omettant le width</em>.
    </p>

  </section>
</section>
