{# ***************************** #}
{# ***** CREATE ROUTE VIEW ***** #}
{# ***************************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Ajout d'un nouveau parcours{% endblock %}

{% block description %}{% endblock %}


{% block main %}

<main>

  <!-- Create route form -->
  <form method="post" action={{ url('route!create') }}>
    <fieldset>
      <legend>
        <i class="fa fa-road fa-fw fa-2x" aria-hidden="true"></i>
      </legend>
      <ul>

        <!-- Route name field -->
        <li>
          <label for="name">Nom</label>
          <input id="name" name="name" type="text" placeholder="Nom du parcours" maxlength="100" required>
        </li>

        <!-- Route certif id field -->
        <li>
          <label for="certif_id">Id</label>
          <input id="certif_id" name="certif_id" type="text" placeholder="Id du certificat" maxlength="20" required>
        </li>

        <!-- Route certif link field -->
        <li>
          <label for="certif_link">Lien</label>
          <input id="certif_link" name="certif_link" type="text" placeholder="Lien vers le certificat" maxlength="100" required>
        </li>

        <!-- Route certif date field -->
        <li>
          <label for="certif_date">Date</label>
          <input id="certif_date" name="certif_date" type="text" placeholder="Date de certification (yyyy-mm-dd)" maxlength="30" required>
        </li>

        <!-- Controls buttons -->
        <li class="btn-group">
          <a class="btn delete-btn outset-slight inset-blur" href="{{ url('admin') }}">Quitter</a>
          <input class="btn cancel-btn outset-slight inset-blur" type="reset" value="Réinitialiser">
          <input class="btn valid-btn outset-slight inset-blur" type="submit" value="Créer">
        </li>

      </ul>
    </fieldset>
  </form>
</main>

{% endblock %}
