{# ********************** #}
{# ***** OWNER VIEW ***** #}
{# ********************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Bienvenue au jury de la 3W Academy !{% endblock %}

{% block description %}Accès restreint - Espace privé - Page réservée{% endblock %}


{% block main %}

<main id="owner">

  <article class="container">
    <h2>Présentation des projets</h2>

    <p>
      <i class="fa fa-chevron-right" aria-hidden="true"></i> Bonjour, je vous présente ici l'ensemble des projets pour la validation du titre <em>RNCP N°25468</em>
      <br><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <strong>Développeur Intégrateur en Réalisation d'Applications Web</strong> <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
    </p>

    <p>
      <i class="fa fa-chevron-right" aria-hidden="true"></i> Avant la formation à la 3W Academy, j'avais 2 projets dont le code était hébergé sur GitHub :
    </p>

    <ol>
      <li>un <a class="special-outline solid-slight-sm" href="https://github.com/philippebeck/phibeck" title="Voir le projet sur GitHub">Portfolio</a> OnePage fait avec Nodejs/Express ;</li>
      <li> un <a class="special-outline solid-slight-sm" href="https://github.com/philippebeck/celestialgalleries" title="Voir le projet sur GitHub">projet de galeries d'images</a> fait avec Symfony3 sur le domaine de l'astronomie.</li>
    </ol>

    <p>
      <i class="fa fa-chevron-right" aria-hidden="true"></i> Durant la formation, je me suis mis en tête de fusionner mes 2 précédents projets & d'y ajouter un blog.
    </p>

    <section>
      <h3>1 / Sam</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Pour ces anciens projets, j'avais utilisé différents outils ; dont 2 d'entre eux dans chacun des projets : <a class="special-outline solid-slight-sm" href="http://stylus-lang.com" title="Voir le site officiel">Stylus</a> & <a class="special-outline solid-slight-sm" href="https://getbootstrap.com" title="Voir le site officiel">Bootstrap</a>.
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Souhaitant profiter des avantages d'un préprocesseur CSS & d'un framework CSS, mais souhaitant respecter au maximum les recommandations du dépôt de dossier :
        <br>je me suis orienté vers le SCSS qui respecte la syntaxe CSS tout en apportant plus de possibilités & vers la construction de mon propre microframework !
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> D'ailleurs, avant la formation, je ne connaissais <a class="special-outline solid-slight-sm" href="http://sass-lang.com" title="Voir le site officiel">Sass</a> que de nom, mais ayant suivi 2 cours OpenClassrooms sur Ruby, j'ai pu me lancer !
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> La seule dépendance de ce projet est <a class="special-outline solid-slight-sm" href="https://necolas.github.io/normalize.css" title="Voir le site officiel">Normalize.css</a>...
      </p>

    </section>

    <section>
      <h3>2 / Pam</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Arrivé à la fin de la formation, grâce à Olivier, j'avais suffisammment avancé sur le programme des cours pour me lancer dans la construction d'un outil PHP :
        <br>un autre microframework, mais plus léger, le but étant ici de factoriser au maximum le code, les modèles en particulier.
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> La seule dépendance de ce projet est le moteur de template utilisé dans Symfony : <a class="special-outline solid-slight-sm" href="https://twig.symfony.com" title="Voir le site officiel">Twig</a>...
      </p>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Un seul autre fichier contenant du code extérieur est utilisé sur ce projet : <a class="special-outline solid-slight-sm" href="https://getcomposer.org/" title="Voir le site officiel">Autoloader de Composer</a>...
      </p>

    </section>

    <section>
      <h3>3 / Jim</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Pourquoi ne pas ajouter un petit outil en JavaScript, réduit au minimum, pour gérer les évènements au clavier, une microlibrairie par exemple ?
        <br>mais surtout, n'effectuant que des tâches non-bloquantes vis-à-vis du site, en cas de désactivation de JavaScript...
      </p>

    </section>

    <section>
      <h3>4 / Pjs</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Et pourquoi ne pas regrouper tout ça dans un microCMS, en y ajoutant une interface d'administration ?
        <br>Je pourrais faire évoluer les outils & les réutiliser lors de projets futurs ?!
      </p>

    </section>

    <section>
      <h3>5 / Philippe Beck</h3>

      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Etant donné la complexité de mon projet multiple, je suis parti dans l'optique d'inclure aussi dans mon site un présentation des outils...
        <br>Et puis, je me
      </p>

    </section>

  </article>

</main>

{% endblock %}
