{# ********************** #}
{# ***** OWNER VIEW ***** #}
{# ********************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Bienvenue au jury de la 3W Academy !{% endblock %}

{% block description %}Accès restreint - Espace privé - Page réservée{% endblock %}


{% block main %}

<main id="owner" class="center">

      <p class="intro warning-sea solid-rounded">
        <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i>
        En construction !
        <i class="fa fa-ban fa-lg fa-fw delete-text" aria-hidden="true"></i><br>
        La présentation sera disponible ci-dessous avant mercredi, merci de votre patience...
      </p>

  <section>
    <h2>Présentation des projets</h2>

    <article>
      <h3>Pam</h3>

    </article>

    <article>
      <h3>Jim</h3>

    </article>

    <article>
      <h3>Sam</h3>

    </article>

    <article>
      <h3>Pjs</h3>

    </article>

    <article>
      <h3>Philippe Beck</h3>

    </article>

  </section>

</main>

{% endblock %}
